[2019-05-10 18:39] claygoldfinch commented on #185
Looks like the search page has changed (so the code pulling title, date, etc, plus poster art no longer works). Can probably fix this over the weekend.

[2019-05-11 17:02] #184 closed

[2019-05-12 00:55] xmxier opened #187 "can you add the following sites to brazzers and naughtyamerica?"
DayWithAPornstar - barzzers
WatchYourMom - naughtyamerica
???

[2019-05-12 00:56] xmxier opened #188 "DigitalPlayground and babes not working?"
DigitalPlayground and babes not working?

[2019-05-12 03:16] claygoldfinch commented on #187
Support added in PR #186!

[2019-05-12 03:25] claygoldfinch commented on #188
Neither seem to be working right now - check out #102 and #136 for more info.

[2019-05-12 09:31] d2dyno commented on #183
Dupe, sorry https://github.com/PAhelper/PhoenixAdult.bundle/issues/102

[2019-05-12 09:31] #183 closed

[2019-05-12 10:56] d2dyno commented on #120
@claygoldfinch want to work your magic on this?

[2019-05-12 15:38] streetlurchin opened #189 "Mofos No Longer Working (As of May 2019)"
Mofos has not been pulling metadata for the last 7 days.  I have not observed a noticeable change to their front-end.  The last time my Plex was able to pull data was last week.  Thanks for everyone's contributions to this project.

[2019-05-12 16:01] eiberger commented on #1
First. Great work @PAhelper. It is truly amazing that you and the other programmers in here spend time helping us all out in our «hunt» for media metadata.

I have had success with using this agent for www.x-art.com. Plex collects metadata from newly added films, but do not collect the poster image. Known issue - or something to look in to?

[2019-05-12 17:04] #187 closed

[2019-05-13 13:39] d2dyno commented on #1
+1 for Dadcrush

[2019-05-13 17:10] insickin commented on #28
Is there any progress with this issue?

[2019-05-13 19:50] xmxier opened #191 "mylf not pulling actress name or genre"
mylf not pulling actress name and also genre

specifically: Momdrips

[2019-05-13 19:53] xmxier commented on #191
also genre

[2019-05-14 00:57] Dylix1 opened #192 "Cum4k not direct matching to url"
Cum4k seems to not include the 4k in the search so it searches for Cum [title name] which has got no results

`2019-05-14` 00:36:29,135 (7fa4f9ffb700) :  INFO (agentkit:957) - Searching for matches for {'openSubtitlesHash': '76ef493eb2d2d458', 'name': 'Cum4k 18 06 06 Paige Owens Cum for a Ride', 'filename': '%2Funionfs%2Fmedia%2FXXX%2FCum4K%2FCum4K%20-%2018%2E06%2E06%20Paige%20Owens%20-%20Cum%20Fo

[2019-05-14 02:43] claygoldfinch commented on #192
Looks to be related to PR #171. Couple of options here:
1. Revert commit
2. Make it so "4k" is only stripped when a "." or " " proceeds it (as I'd imagine it'd appear in most files)

[2019-05-14 15:25] claygoldfinch commented on #192
Went with the second option. Sites with "4k" in title (ie. Cum4k, Tiny4k, Exotic4k) will now match, as long as there is no space or period in between the title and "4k".

PR #186

[2019-05-14 17:26] dxm2891 commented on #185
Until the next release I made changes to file networkDDFNetwork.py

From line 4 to 25:
`def search(results,encodedTitle,title,searchTitle,siteNum,lang,searchByDateActor,searchDate,searchSiteID):
    if searchSiteID != 9999:
        siteNum = searchSiteID
    searchResults = HTML.ElementFromURL(PAsearchSites.getSearchSearchURL(siteNum) + encodedTitle)
    i = 0
    for searchResult in searchResults

[2019-05-14 18:33] Dylix1 commented on #192
Thx it works now ;)

[2019-05-14 18:33] #192 closed

[2019-05-14 20:31] xmxier opened #193 "Julesjordan not pulling metadata"
Julesjordan
name of video : Keisha Grey Natural Busty Teen Milks Manuels’s Cock

[2019-05-14 21:53] claygoldfinch commented on #185
Nice work, @dxm2891! Tested out your code with several scenes, and it appears search is fixed!

I added a bit of code myself, as I was running into issues with the client pulling Simply Sinnful's summary. It appears as though that page, in particular, is set up differently than the majority of their pages. This should fix it:

    try:
        summaryp1 = detailsPageElements.xpath('//div[@id="desc

[2019-05-14 22:48] claygoldfinch commented on #167
@chempke Just tested out your fix with several files and it seems to be working for me. You run into any issues on your fork?

[2019-05-14 23:48] streetlurchin commented on #121
I believe the Blacked/Tushy/Vixen/Deeper _sites_ are run by a _studio_/_network_ called MadCheddar.
https://www.madcheddar.com/external.php?page=sites&
I also label by studio/network, so Brazzers, RealityKings, Mofos, MadCheddar, Kink, FuckYouCash, Bang Bros, FullPorn, Blowpass...  And the individual sites under those umbrellas are easily sorted by collections within those...

[2019-05-15 08:33] qbicstar commented on #1
BackroomCastingCouch.com
Would be nice

[2019-05-15 10:41] chempke commented on #167
It works for me too, but please ignore my fork. I accidentally put it on and have no idea about it. Feel free to commit a fix for this, because i have no clue how to do it.

[2019-05-16 16:02] dxm2891 commented on #178
I change title section with this:
`
    # Title
    try:
        dvdTitle = detailsPageElements.xpath('//a[contains(@class,"dvdLink")][1]')[0].get('title').strip()
        metadata.collections.add(dvdTitle.replace('#0','').replace('#',''))
    except:
        try:
            dvdTitle = detailsPageElements.xpath('//h1[@class="sceneTitle"]')[0].text_content().strip()
            metadata.collection

[2019-05-19 11:50] dismethis commented on #1
XConfessions.com is the only site left for full support of my library.

Thank you for your great work!

[2019-05-19 13:08] insickin commented on #189
I can confirm this problem.
I can't get Mofos - Busty Blonde Gets Dripping Wet (https://www.mofos.com/scene//busty-blonde-gets-dripping-wet) to find/match.

[2019-05-20 10:00] insickin opened #195 "Continuation of project/agent"
Does anybody know where PAhelper is? Maybe I'm a little anxious but I hate to see this agent fall in disrepair/go to waste! Is he taking a break from this project or is he just on vacation or something? The last code update is from 10 day's ago and at the moment there are 3 Pull requests open. (not that PAhelper is forced or something to work constantly on this agent, I'm very happy that he has ta

[2019-05-20 10:40] SgtBatten commented on #195
I think more people having access can be a good thing rather than more forks. We already have heaps.

There's a couple guys who are regularly contributing. I'd be happy to do it also but not on my own. It didn't take me long to work out the code and how to build new sites. The more people working on it the more sights we will end up with.

[2019-05-20 11:05] insickin commented on #195
If you indeed see how much forks there are (most of the are not maintained) it's hard to see the woods for the trees! I

 think that it's better for the agent that more people can add code to it directly so if for example PAhelper doesn't want to continue or gets sick or something the agent keeps getting updates and lives on, now only he can add updates in the (final) agent or people must start a

[2019-05-20 12:31] dxm2891 commented on #195
If you go to the Pull request you can see the people who work there. But you still have to wait for PAhelper to merge the contents. Or you can download one of the updated versions like mine and then waiting for the new version of PAhelper.

[2019-05-20 12:56] claygoldfinch commented on #195
I agree with @insickin and @SgtBatten - optimally, this should be the main fork. Perhaps another option would be for @PAhelper to create a "nightly" branch and allow some contributors access to that?

[2019-05-20 15:05] dxm2891 commented on #195
Sorry, I hadn't read the whole post because I was in a hurry. However, I agree with the team issue. It would be advisable to create a project with several people in order to divide the work and update it more frequently. It would be better to create a post with this request and writing users who can contribute to the project.

Sorry if there are errors with the English.

[2019-05-20 20:04] kamuk90 commented on #154
update posters:
28-29
[code]

to

[code]

55 line:
[code]

to

[code]

[2019-05-20 20:44] woodbridgesub commented on #195
I agree with the general idea here. I think it's best to get @PAhelper to create a nightly and allow several members to contribute and keep this agent moving forward.

If @PAhelper is unable to continue, or simply done with this project, then let the record show that we as end users have been most impressed and very thankful for his efforts.

[2019-05-21 15:52] claygoldfinch commented on #189
1. Using "https://www.mofos.com/tour/search?q=" (what the client is currently using for searches) no longer works - just pulls a 404.
2. The new search address at "https://www.mofos.com/search?q=" doesn't work, either. I can do a simple search for "Blonde" and receive no results.

Might have to take this site direct-match only.

[2019-05-21 15:56] dxm2891 commented on #189
Unfortunately the plugin finds the age control page

[2019-05-21 17:10] claygoldfinch commented on #189
You sure about that? Here's my log:

[code]
When you navigate to that address you get a 404. Even if you update the code to request the new search page (at https://www.mofos.com/search?q=) you get this:

https://www.mofos.com/search?q=vacation%20in%20a%20bedroom

Just as useless.

[2019-05-21 17:43] dxm2891 commented on #189
I use log to find the page content and got this:
`2019-05-21 19:37:53,587 (7f65d67fc700) :  INFO (PAsearchSites:1006) - searchTitle (before date processing): Vacation in a Bedroom
2019-05-21 19:37:53,587 (7f65d67fc700) :  INFO (__init__:62) - Search Title: Vacation in a Bedroom
2019-05-21 19:37:53,587 (7f65d67fc700) :  INFO (__init__:71) - Vacation%20in%20a%20Bedroom
2019-05-21 19:37:53,588 (7f65d

[2019-05-21 19:18] claygoldfinch commented on #154
Resolved both of these issues in PR #186. Thanks for the heads up, @kamuk90!

[2019-05-21 19:18] #154 closed

[2019-05-21 21:50] dxm2891 commented on #185
@insickin this issue was fixed with PR #194

[2019-05-22 06:17] dxm2891 commented on #178
PM #194

[2019-05-22 19:57] PAHelper2 opened #196 "NannySpy not working?"
IndexError out of range there makes it sound like they've changed their html?

[code]

[2019-05-22 20:18] r0x0r316 commented on #185
could we please agree that either dxm or clagoldfinch do developing in there repos but both atleast in one so we can have both your fixes? :D kinda hard to decide whom to pick ;)

[2019-05-22 20:37] claygoldfinch commented on #185
@dxm2891 incorporated my code into his fix, so should feel free to download his repo if you're having issues with this site! Both of us have active pull requests to merge our updates into this repo, just waiting on @PAhelper to approve them! More discussion about that here: #195

[2019-05-22 20:43] claygoldfinch commented on #196
Nannyspy is exact url match only, try changing the filename or search term to "NannySpy - Nanny Masturbating On Hidden Cam"!

[2019-05-22 21:50] r0x0r316 commented on #185
Yeah but you have a genre fix which is not in dxms repo aswell as some other fixes ;) so its kinda hard to decide which one to take. i like both your commits :)

[2019-05-22 22:25] PAHelper2 commented on #196
That worked!  So is this "works correctly"? Or are there ways to make the match more forgiving?

[2019-05-22 23:08] claygoldfinch commented on #196
Unfortunately, this is a case of "works correctly." NannySpy doesn't have a search function, so the only way to match is to use the URL.

Using the search term "NannySpy - Brooklyn Gray Nanny Masturbating on Hidden" will cause the client is to inspect "https://nannyspy.com/video/**brooklyn-gray-nanny-masturbating-on-hidden**". As this address isn't valid, and NannySpy doesn't redirect the address

[2019-05-23 00:01] dxm2891 commented on #185
@claygoldfinch would you like to merge your build into mine so we create only one version to download as long as @PAhelper approve all?

[2019-05-23 00:51] claygoldfinch commented on #185
@dxm2891 works for me! PR submitted.

[2019-05-23 01:20] dxm2891 commented on #185
Thanks @claygoldfinch !! PR merged

[2019-05-23 11:08] dxm2891 opened #197 "List of sites with new interface"
This is a list with sites with new interface like DigitalPlyground.com which contain problems in searching for content.

- Babes (#102)
- DigitalPlyground.com (#136)
- Mofos.com (#189)
- Twistys.com (#131)

Write here if there are other sites like that and if someone can find a solution.

[2019-05-23 17:33] insickin commented on #1
Can someone add: https://tour.purgatoryx.com

[2019-05-23 17:39] insickin commented on #195
Shall we wait until the 1st of June or sooner to see if @PAhelper  returns and if he doesn't at that date someone makes a new fork with a team (more people that can edit/add site's/fix problems) behind it?

[2019-05-23 17:50] claygoldfinch commented on #195
It has now been a full two weeks since @PAhelper has updated this repository.

@dxm2891 and I have since merged our forks, so there is at least one repository that is fully up to date. I will continue to submit PRs to @dxm2891's repo as I make changes to my repo.

In my opinion, we should give @PAhelper a week or two more to respond. If he has not responded by then, I suggest we move all further d

[2019-05-23 18:01] dxm2891 commented on #195
@claygoldfinch I have already entered you as a collaborator in my repository.

If there is someone else who wants to join my repository, I can add it without problem. For now I'm using the master, although I thought I would create a further branch, like a nightly

[2019-05-23 18:43] claygoldfinch commented on #195
Perfect, invite accepted!

Having a nightly branch is a great idea, could certainly help with weeding out the small bugs that occasionally pop up.

[2019-05-23 19:49] insickin commented on #195
Soory to post this here but I've just updated to the latest update from @dxm2891 repository but I have a bug/question about it, I can't seem to submit a issue, where do you want me to submit my problem? (it takes ages to load search results for Girlsway scenes)

[2019-05-23 23:04] claygoldfinch commented on #197
Looks like New Sensations is no longer working.

[2019-05-25 04:51] AbuSayidAlIslam opened #198 "only a few sites work on plex linux"
Ok this might just be an issue with my setup, idk, im on linux and only 5 or 6 sites seem to work: Bangbros, RK, Brazzers, girlsway and a couple others

blacked/tushy/vixen etc all give "no matches found" when using search\
those are the ones i need the most. help?

[2019-05-25 06:31] SgtBatten commented on #195
Yes I think he deserves a little time. Sometimes life can get in the way and we don't know what is happening.

If we do move on to @dxm2891 I will happily Collab also

[2019-05-25 06:32] SgtBatten commented on #198
#64 pinned issue. Sounds like the same thing

[2019-05-25 23:05] AbuSayidAlIslam commented on #1
Score Group websites:
[https://scoreland.com](url)
[https://pornmegaload.com](url)
[https://50plusmilfs.com](url)
[https://60plusmilfs.com](url)

[2019-05-28 18:34] insickin opened #199 "Teenfidelity no cast info/photo's"
Like the title say's, i'm trying to tag a Teenfidelity scene everything loads except the cast info/photo's, maybe they changed something on the site?

[2019-05-29 18:00] claygoldfinch commented on #199
What's the filename or search term?

[2019-05-29 20:44] PAhelper commented on #195
Hey guys, I'm not dead or gone. Just had a few things come up in life. I've been trying to keep up with the pull requests at least, if not adding my own updates...

I'm also happy to add others to the project so it can continue being managed when life gets in my way. I'll go find that button and add @dxm2891 and @SgtBatten to start, maybe a few others who've added a couple of pull requests. Sorry

[2019-05-29 20:52] dxm2891 commented on #195
No problem. You don't have to apologize if you've had your private life busy. I'm happy as others who have come back to support this project. I gladly accept the invitation. I also think @claygoldfinch  wants to help like he already did with my repository

[2019-05-29 21:28] claygoldfinch commented on #197
Having some luck getting Babes back up and running.

[2019-05-30 00:13] woodbridgesub commented on #195
@PAhelper glad you're doing ok!

I'd also like to help support this project, if you can add me

[2019-05-30 01:11] Sinjin69 commented on #198
You need to provide more information. Can you tell us what your exact search phrase is?

Even better is if you can provide the log for the failed result. Follow this web page to find the directory they are stored for your os: https://support.plex.tv/articles/200250417-plex-media-server-log-files/

Once you find that directory, you will need to go into `PMS Plugin Logs` and get the file called `com

[2019-05-30 12:53] insickin commented on #195
@PAhelper, good to have you back man!

Indeed, no need to apologize, I got a little bit nervous that it was going the same way like the original coder PhoenixPlexCode who was suddenly gone.

[2019-05-30 13:01] insickin commented on #199
It's about "Mom Wouldn't Like That - Teenfidelity #297" everything loads but the cast photo's.

[2019-05-30 13:06] insickin commented on #197
I don't know if this helps you:
https://github.com/PAhelper/PhoenixAdult.bundle/issues/104#issuecomment-473073506

[2019-05-30 14:42] kamuk90 opened #200 "Mylf.com no date, actors"
[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3237454/com.plexapp.agents.phoenixadult.log)

After updating meta, didn't added actors and date :(

[2019-05-30 19:55] claygoldfinch commented on #199
Any chance you can upload a log file? I've tested with that scene and several others, not running into any issues on my side.

[2019-05-30 21:57] #167 closed

[2019-05-31 06:13] ferengi82 commented on #1
private.com would be nice

https://www.private.com/search.php?query=

[2019-05-31 14:51] insickin commented on #199
Oke, strange... I thought I would try to add the scene one more time and if it still didn't work, I'd post a log file, now it loads fine with the cast members!... :confused: the only ting that I did to my server is install the latest update of the agent....

[2019-05-31 14:51] #199 closed

[2019-05-31 19:21] claygoldfinch commented on #200
PR #201.

The site doesn't have any release date data, so the code pulls it from the filename/search term itself. For example, to import a release date of 2019.01.01, search for:

Mylf - 2019.01.01 - 1663/hammering-the-hair-salon-don

[2019-05-31 20:19] kamuk90 commented on #200
About the date ok, I understand
Can we do something with the cast/actors?

[2019-05-31 21:16] claygoldfinch commented on #200
Mylf changed their site code, which resulted in the client erroring out while trying to pull a poster that no longer existed. This, in turn, caused the rest of the code to not be run (including the code that pulled the actors). PR #201 fixes that.

[2019-05-31 21:28] kamuk90 commented on #200
Thx a lot

[2019-05-31 21:28] #200 closed

[2019-05-31 22:17] Sinjin69 commented on #185
@dxm2891 we should probably get this one and your fork back in sync. Maybe do a PR with all the changes. So we can get these issues closed out.

[2019-05-31 22:21] Sinjin69 commented on #185
@dxm2891 Was this fixed in #194? Can we close this issue?

[2019-05-31 22:23] Sinjin69 commented on #198
Maybe a dup of #64

[2019-05-31 22:24] Sinjin69 commented on #88
@SgtBatten can this be closed?

[2019-05-31 22:29] claygoldfinch commented on #185
Yep, this was resolved in #194.

I believe the rest of the differences between this and @dxm2891's fork are a few commits of mine, I'll submit a PR.

[2019-05-31 22:30] #185 closed

[2019-06-01 01:56] #196 closed

[2019-06-01 02:09] claygoldfinch commented on #102
Have we decided on a way to address this?

The search functionality of the new site SUCKS (it seems as though it only utilizes one word of any phrase you input??), but it is semi-usable.

I've written up some code that "works" with the new site layout. Let me know if I should commit, or if we're looking actively looking at another method of resolving this.

[2019-06-01 02:28] claygoldfinch commented on #1
@ferengi82 Already supported!

[2019-06-01 04:54] ferengi82 commented on #1
thats embarrassing it was a problem with my filenames ...

[2019-06-01 15:11] claygoldfinch commented on #88
I think this issue is pretty much resolved. There's a good amount of info in the wiki, plus a "template" file in the repo.

[2019-06-01 15:15] claygoldfinch commented on #197
Perhaps we should sticky a post similar to this - a list of "broken" sites, and a link to the wiki for all supported sites (which I'm currently working on getting up to date).

[2019-06-01 15:16] claygoldfinch commented on #1
@ferengi82 no worries, it wasn't listed in either the wiki or readme haha

[2019-06-01 20:53] Sinjin69 commented on #178
Closing because of #194 being merged

[2019-06-01 20:53] #178 closed

[2019-06-01 20:56] Sinjin69 commented on #179
I'm going to close this because #181 was merged.

[2019-06-01 20:56] #179 closed

[2019-06-02 04:20] claygoldfinch commented on #133
I believe Fake Taxi is part of the FakeHub network (which is currently supported).

[2019-06-02 09:11] insickin commented on #133
Yes, Fake Taxi us supported but Fake _**Female**_ Taxi isn't.

[2019-06-02 09:15] insickin commented on #102
Maybe it can be a temporary patch? Does this code also work for the other sites that are broken or is it Babes specific?

[2019-06-02 15:16] claygoldfinch commented on #133
Ahh, I gotcha. Site code of www.femalefaketaxi.com seems to be very similar to that of FakeHub, which is promising. I'll take a stab at it.

[2019-06-02 15:29] claygoldfinch commented on #102
I've only worked on the code for scraping Babes, but it could probably be updated to work for other sites with similar layouts.

Just based on a quick look, I'd say Digital Playground and Twistys are possible. Their site layout is similar to that of Babes, plus their search functionality works to some extent.

MOFOS has a similar site layout, but their search functionality is essentially unusable

[2019-06-02 18:20] #195 closed

[2019-06-02 18:20] dxm2891 commented on #126
This site work with latest release

[2019-06-02 18:20] #126 closed

[2019-06-02 18:22] #88 closed

[2019-06-02 18:31] SgtBatten commented on #88
Plus I'm all over it now :)

[2019-06-02 21:18] r0x0r316 commented on #1
ATK Network
http://www.atkmodels.com/
http://www.atkmodels.com/blog/
Even has a nice complete model index and search on the blog :D would be nice

[2019-06-03 13:01] kamuk90 commented on #158
in sitePervMom.py change this on 41 line

[code]

@claygoldfinch
dude can you do a new bugfix to PervMom, I don't know how I can do that on GitHub (I'm a new user)

[2019-06-03 14:22] kamuk90 opened #204 "NFBusty bugfix Posters, actors"
in networkNubiles.py file

[code]

[2019-06-03 14:42] kamuk90 opened #205 "Deeper.com HTTP Error 403: Forbidden"
Log attached, please can someone say what's wrong

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3248077/com.plexapp.agents.phoenixadult.log)

[2019-06-03 14:58] Spanishu commented on #120
@claygoldfinch any chance that you could do your magic? I have quite a bit of content from those sites and they are the only ones not working. Any support much appreciated !

[2019-06-03 16:38] claygoldfinch commented on #204
Getting some errors with this:

`background = "http:" + detailsPageElements.xpath('///*[@id="belt"]/div[8]/div/div[3]/div[2]/a/img')[0].get('src')`

What scenes were you having issues with?

[2019-06-03 17:14] kamuk90 commented on #204
Can you test this code?
I tried find this scene (NFBusty - 61608) [https://nfbusty.com/video/watch/61608](url) but all my attempts didn’t bring anything
Last PAhelper version plugin didn't work for me
so I replaced it
now finds everything
[code]

[2019-06-03 17:31] claygoldfinch opened #206 "Pervmom Bugfix"
in sitePervMom.py change this on 41 line

[code]

@claygoldfinch
dude can you do a new bugfix to PervMom, I don't know how I can do that on GitHub (I'm a new user)

_Originally posted by @kamuk90 in https://github.com/PAhelper/PhoenixAdult.bundle/issues/158#issuecomment-498246648_

Moving this to a new issue as it's unrelated to the problem in #158

[2019-06-03 17:46] claygoldfinch commented on #158
@insickin Fixed this issue in PR#203.

[2019-06-03 17:46] #158 closed

[2019-06-03 17:47] claygoldfinch commented on #206
@kamuk90 Tested this on a few scenes, looks good to me. Thanks for your help! Updated in PR#203.

[2019-06-03 17:47] #206 closed

[2019-06-03 19:17] claygoldfinch commented on #204
I don't think that's gonna work either, as that tries to pull a video (rather than an image):

[http://images.nfbusty.com/videos/picture_perfect_tits_with_bridgette_b/videos/nfbusty_picture_perfect_tits_trailer_960.mp4](http://images.nfbusty.com/videos/picture_perfect_tits_with_bridgette_b/videos/nfbusty_picture_perfect_tits_trailer_960.mp4)

I'm testing out NFBusty using the client as-is (without

[2019-06-04 00:54] claygoldfinch commented on #120
Been playing around with the search function without much luck. Direct URL match may be the way to go.

[2019-06-04 04:41] claygoldfinch commented on #58
@chempke Are you still running into issues with those two scenes? Just checked em out and they both seem to be working on my end.

[2019-06-04 08:22] chempke opened #207 "Private.com some scenes with critical metadata Error"
I tried 60 scenes and 4 of them gives me the following critical error.
These four scenes are affected:
Private - Posh Cutie Ella Hughes Takes a Big Cock to Her Clit Pierced Pussy
Private - Two Horny College Girls Fuck Each Other and a Guy Too
Private - Black Angelika and Tarra White Get Power Fucked in This FFM Threesome
Private - Britney Claudia Rossi and Others Participate in an Interracial DP O

[2019-06-04 16:39] chempke commented on #58
Sorry, I haven't checked for a while, but you're right. They are working now!

[2019-06-04 16:39] #58 closed

[2019-06-04 16:52] claygoldfinch commented on #207
Resolved in PR #208

[2019-06-04 16:52] #207 closed

[2019-06-04 16:53] claygoldfinch commented on #163
Resolved in PR #208

[2019-06-04 16:53] #163 closed

[2019-06-04 16:58] claygoldfinch opened #209 "ArchAngel Bug"
Hey claygoldfish,
I tried your ArchAngel Support commit and it work well for most of my scenes.
Unfortunately two scenes gives me critical errors. Do you have an idea why that could be?
Maybe its an error on my end, because i have similar problems with some Private.com scenes.

Archangel - Bad Bitch AJ
[code]
Archangel - Like My Red Stockings
[code]

_Originally posted by @chempke in https://githu

[2019-06-05 06:38] kamuk90 commented on #205
Blackedraw ;(

[code]

[2019-06-05 08:30] chempke commented on #205
Sry, I can't tell what's wrong on your end. But I tried both of your scenes on my Windows setup and they both work well.

[2019-06-05 16:17] chempke commented on #1
LoveHerFeet
loveherfeet.com

[2019-06-05 17:43] claygoldfinch commented on #209
@chempke resolved in PR #208

[2019-06-05 17:43] #209 closed

[2019-06-05 21:32] claygoldfinch commented on #205
Struggling to replicate this, as well. Can you access
https://www.blackedraw.com/search?q=Double%20Dose
https://www.deeper.com/search?q=SHE%20WAS%20ME
in a web browser?

[2019-06-05 21:39] kamuk90 commented on #205
@claygoldfinch
Thx for your answer,
I can open sites from my laptop,
But can’t open it from my Nas
![58D1985D-BF2B-4189-A655-C884C64F7B12](https://user-images.githubusercontent.com/45747775/58992448-846c3f00-87f3-11e9-9d93-b3e8356a2e6f.jpeg)

[2019-06-05 21:59] claygoldfinch commented on #205
Is Plex installed on your NAS?

[2019-06-05 22:02] kamuk90 commented on #205
Yep, on Synology NAS

[2019-06-05 23:19] claygoldfinch commented on #205
Ah, that makes much more sense. See this:
https://github.com/PAhelper/PhoenixAdult.bundle/issues/64#issuecomment-469049979

[2019-06-06 01:33] claygoldfinch commented on #133
WIP, moving to Issue #1.

[2019-06-06 01:33] #133 closed

[2019-06-06 23:28] kamuk90 commented on #120
match url for nympho in networkSteepedUp.py file
[code]

[2019-06-07 11:54] Spanishu commented on #120
thanks a lot, will you put this into the workstream of PAHelper? Can we extend this to swallowed and true anal?

[2019-06-07 15:17] yes12397 opened #210 "Kink.com New and Missing Channels"
below is the list of Kink.com for other and New Channels which are not not Listed in PA.
if Someone can add that would be grateful.

**BDSM**

- Amator
- Ball Gaggers
- Bizarre Video
- Bleu Films
- Hogtied Up
- Infernal Restraints
- Proud and Perverted
- Severe Sex Films
- Struggling Babes
- Wasteland

**Hardcore**

- Animated Kink
- Deviant Hardcore
- Digital Sin
- Evolved Fights
- FetishNetwork

[2019-06-07 20:01] Sinjin69 commented on #205
Are you only having 403 errors to deeper.com or is this also happen to websites like www.google.com?

[2019-06-07 21:48] chempke opened #211 "PeterNorth bug"
This one scene gives me critical error
https://www.peternorth.com/en/video/POV-33-Part-1-Scene-01/31380

[code]

[2019-06-08 18:03] insickin commented on #28
Is there any progress with this issue?

[2019-06-09 20:22] chempke commented on #211
Another one
https://www.peternorth.com/en/video/North-Pole-90-Part-1-Scene-02/33512

[code]

[2019-06-10 17:33] kamuk90 commented on #104
@claygoldfinch
please update file siteNewSensations
for best matching enter DVD name and choose Scene

[code]

[2019-06-10 19:24] r0x0r316 opened #212 "CzechAV not matching"
It seems as if Czech AV is not matching via Sitename - Date - Title search. I also tried manually adding sites. As i am in Linux i wanted to check here though in order to get confirmation.

[2019-06-10 19:47] claygoldfinch commented on #212
@r0x0r316 Any chance you can post a log?

[2019-06-10 19:49] claygoldfinch commented on #104
@kamuk90 Thanks for the contribution! I'm out of town right now, but I'll test this out and add it to my open pull request on Wednesday.

[2019-06-10 20:02] r0x0r316 commented on #212
2019-06-10 21:50:55,660 (7f15377fe700) :  DEBUG (runtime:814) - Found route matching /:/plugins/com.plexapp.agents.phoenixadult/messaging/function/X0FnZW50S2l0OlNlYXJjaA__/Y2VyZWFsMQoxCmxpc3QKMApyMAo_/Y2$
2019-06-10 21:50:55,660 (7f15377fe700) :  INFO (agentkit:957) - Searching for matches for {'openSubtitlesHash': '2b84bc769665f7c5', 'name': 'Czechcasting 18 12 09 Monika 5142', 'filename': '%2Fmn

[2019-06-10 20:03] r0x0r316 commented on #212
accidently cöosed the issue :dagger:

[2019-06-10 20:06] claygoldfinch commented on #210
I think the reason why many of these weren't added is because they're not actually Kink.com subsites/channels.

Some quick examples:

- Digital Sin - Part of the New Sensations network
- Deviant Hardcore
- Sexually Broken - Part of the Intersec network
- Spizoo

[2019-06-10 20:19] claygoldfinch commented on #212
Thank you!

CzechCasting isn't currently supported, so that's why you're running into issues. Here's the list of currently supported CzechAV sites (per the Wiki):

- Czech Amateurs
- Czech Bangbus
- Czech Bitch
- Czech Cabins
- Czech Couples
- Czech Dungeon
- Czech Estrogenolit
- Czech Experiment
- Czech Fantasy
- Czech First
- Czech Game
- Czech Gangbang
- Czech Garden Party
- Czech Harem
- Czech

[2019-06-10 20:56] r0x0r316 commented on #212
sweet would be nice i have some czech bitch content and czech executor if you need a testing subject ill be your goto guy since i am building quiete a library atm ;)

[2019-06-10 21:10] r0x0r316 commented on #212
sorry to bother you again but have an error with czech bitch figured i need to get rid of the E## in the filename but when searchin with a title that matches in the browser it gives me this instead
2019-06-10 23:07:03,612 (7f1a567fc700) :  INFO (PAsearchSites:988) - ^^^^^^^ siteID: 698
2019-06-10 23:07:03,613 (7f1a567fc700) :  INFO (PAsearchSites:990) - ^^^^^^^ Shortening Title
2019-06-10 23:07:03

[2019-06-10 21:11] r0x0r316 commented on #212
so when i read that correctly it is the linux error :D

[2019-06-10 23:12] Sinjin69 commented on #212
https://www.ssllabs.com/ssltest/analyze.html?d=czechbitch.com

Looks like they only support TLS1.2 and higher (this is a good thing for their security), but you're probably using a really old ssl library, and that doesn't support it. Otherwise, the certificates look good, so it's not an expired issue.

[2019-06-11 00:46] r0x0r316 commented on #212
Doesn’t Plex bring its own library? I know it’s a known error for linux and
Plex or is there any way to fix this from my site?

On Tue, Jun 11, 2019 at 1:12 AM Sinjin69 <notifications@github.com> wrote:

[2019-06-11 02:17] Sinjin69 commented on #212
@r0x0r316 Plex is written in python, which for it's ssl implementation uses the OS's ssl library. The problem here is I'm guessing you are on a NAS or running some really old Linux distro. If it's the former, make sure you are running the latest firmware. If it's the later, update to a newer version.

While Plex will gladly run many different python versions (What I mean by this is it's not picky

[2019-06-11 05:44] r0x0r316 commented on #212
python -c "import json, urllib2; print json.load(urllib2.urlopen('https://www.howsmyssl.com/a/check'))['tls_version']"
TLS 1.2

[2019-06-11 13:11] yes12397 commented on #210
true but they show in kink search. but it doesnt harm to add them all and they will show in  kink search. and most of these subsites are not up to date . example ; a video of Spizoo in kink will show release date 2019 while if you went to Spizoo main page u will find it 2017 or 2018 video . its not about to have a duplication of site search . objective is to have kink with all subchanneles availab

[2019-06-11 14:03] insickin commented on #1
Can [www.jacquieetmicheltv.net](url) be added? I know its a French site but for the non French speaking coders there is Google Translate :wink:

[2019-06-11 15:13] bags1975 commented on #212
I'm having issues matching as well, some do and some don't. Basically what I am seeing is if I go to the URL it is bringing up two matches, but only one is being displayed in the results

2019-06-11 09:56:36,372 (2a60) :  DEBUG (networking:166) - Requesting 'http://127.0.0.1:32400/library/metadata/953483/tree'
2019-06-11 09:56:36,378 (2a60) :  INFO (logkit:16) - *******MEDIA TITLE****** Czech Amat

[2019-06-11 19:19] chempke commented on #193
I can confirm this as a bug

[code]

[2019-06-11 21:09] r0x0r316 commented on #198
I am on Linux and can confirm Tushy main site working. Tushy Raw doesnt give matches with the usual Sitename - Date - Actor or Title
Vixen works like a charm.
Havent testet Blacked yet but i guess it works also on linux.

[2019-06-11 21:23] claygoldfinch commented on #198
IIRC, TushyRaw is direct URL match only.

[2019-06-11 21:33] r0x0r316 commented on #198
thx again  @claygoldfinch :)

[2019-06-12 05:14] claygoldfinch opened #213 "CzechAmateurs Bug"
I'm having issues matching as well, some do and some don't. Basically what I am seeing is if I go to the URL it is bringing up two matches, but only one is being displayed in the results

[code]

_Originally posted by @bags1975 in https://github.com/PAhelper/PhoenixAdult.bundle/issues/212#issuecomment-500887200_

[2019-06-12 05:17] claygoldfinch commented on #213
@bags1975 Resolved in PR #208.

[2019-06-12 05:17] #213 closed

[2019-06-12 11:08] kamuk90 opened #214 "Actors alias"
New topic for bad alias for actors:
add to

[code]

[2019-06-12 16:01] claygoldfinch commented on #214
Resolved, PR #215

[2019-06-12 16:01] #214 closed

[2019-06-12 17:26] claygoldfinch commented on #193
Thanks for the log! Is this happening in multiple JJ scenes, or is this the only one?

[2019-06-12 17:40] chempke commented on #193
I found a 2nd one and tried over 100 scenes so far.

[JulesJordan - Evelyn Claire Takes On Dredd The BBC Monster](https://www.julesjordan.com/trial/scenes/Evelyn-Claire-Interracial-Dredd-Big-Black-Cock-4k-Facial_vids.html)

[code]

[2019-06-12 22:05] kamuk90 opened #216 "VPN tunnel for PhoenixAdult plugin"
My IPS blocked more sites from list.
Is it possible to add vpn settings to the plugin for requests to sites from the black list of my internet provider

[2019-06-12 22:06] r0x0r316 commented on #216
Isn’t that a bit out of scope ? Just policy route via Pfsense or iptables

On Thu, Jun 13, 2019 at 12:05 AM kamuk90 <notifications@github.com> wrote:

[2019-06-12 22:13] kamuk90 commented on #216
unfortunately, the iptables configuration is difficult to configure for me.
if I connect vpn on my nas, then the server becomes unavailable from the outside.
I'm trying to redirect requests from the plugin to the VPN, and not from the server.
I will be grateful if you tell me some documentation

[2019-06-12 22:25] r0x0r316 commented on #216
a good resource for router software OpenWRT
https://forum.openwrt.org/t/vpn-policy-based-routing-web-ui-discussion/10389
Pfsense official Doc
https://docs.netgate.com/pfsense/en/latest/routing/directing-traffic-with-policy-routing.html
older tutorial for pfsense
https://blog.monstermuffin.org/tunneling-specific-traffic-over-a-vpn-with-pfsense/

same should work with linux firewalls but for the gra

[2019-06-12 22:28] r0x0r316 commented on #216
this might help your case aswell
https://hub.docker.com/r/linuxserver/openvpn-as/

[2019-06-12 22:32] kamuk90 commented on #216
Holy shit.
thanks a lot!
Before I start studying the documentation, I wanted to clarify whether it is possible to do it all? I mean, configure the plugin routing via vpn, and the plex itself without vpn
Plex installed on Synology NAS, router is Tplink archer c7

[2019-06-12 23:10] r0x0r316 commented on #216
Yeah definitely doable u just have to tell your router that every packet
destined for banned site should be routed via vpn vps ssh or whatever u
want.check if the archer c7 ist Ddwrt or openwrt compatible
Might be easier or just setup pfsense on a virtual machine

On Thu, Jun 13, 2019 at 12:32 AM kamuk90 <notifications@github.com> wrote:

[2019-06-12 23:25] claygoldfinch commented on #210
While I agree that the ultimate objective of the client is to pull metadata for as many sites/studios as possible, I think that adding support for all the sites/studios Kink offers would only complicate the client and user experience, due to a few reasons:

-  Kink has far from a comprehensive library for most studios. Great example would be the Intersec Network, where Kink only offers ~20 videos

[2019-06-12 23:46] claygoldfinch commented on #193
@xmxier @chempke Alright, should be resolved in PR #217.

You may want to refresh the metadata on any other JJ scenes you have, as my fix resolved issues with both scene summaries and scene collections for all JJ scenes.

[2019-06-12 23:46] #193 closed

[2019-06-12 23:59] claygoldfinch opened #218 "Known Issues (Read before submitting an issue)"
Here is a list of sites that the Dev team currently acknowledge as having issues:

- Babes (#102)
- DigitalPlayground (#136)
- Mofos (#189)
- Twistys (#131)

If you are having an issue with a site that is not on this list:

1. **Check to make sure the site is supported**
All supported sites are listed in the [Wiki](https://github.com/PAhelper/PhoenixAdult.bundle/wiki/Full-site-support-list). Next.

[2019-06-13 00:03] #197 closed

[2019-06-14 14:55] Sinjin69 commented on #198
I'm guessing OP is actually on a NAS. Those seem to have more issues.

[2019-06-14 14:59] Sinjin69 commented on #216
I'm going to close this since this is outside of the scope of this plugin.

[2019-06-14 14:59] #216 closed

[2019-06-15 05:34] claygoldfinch commented on #121
I don't think Mad Cheddar is the network/studio, it appears to be related to affiliate tracking.

I'm fine with using Strike 3, though Vixen Media Group (of which Greg Lansky is the co-founder) might be a better option.

[2019-06-15 05:34] #188 closed

[2019-06-15 05:42] claygoldfinch commented on #205
Appears to be related to issue #216, and therefore not an issue with the client itself. Closing.

[2019-06-15 05:42] #205 closed

[2019-06-15 05:45] claygoldfinch commented on #191
@xmxier are you still experiencing issues with this? I believe several bugfixes have been submitted addressing the Mylf network. If you are, please let us know what scenes you're having trouble with (plus logs, if you can).

[2019-06-15 07:30] SgtBatten opened #220 "what code do i need to not get redirected by an image url."
I am working on some more PAextras improvements and adding more sites.

I can successfully grab a url to an image from a bunch of sites but often they fail to actually be downloaded into plex.

One common issue is the image url that loads for me in a browser is not the one that the code ends up trying to get plex to download and its a redirected url which doesn't work.

For example:
We can all loa

[2019-06-15 11:50] r0x0r316 opened #221 "Exact URL Matches"
I have a feature proposal. How about we join efforts of direct url matching of every user of this plugin by makin the plugin send the direct match to a db ? this db could be parsed first in search for sites with direct url match. This way only one user would to match a Date-Actor/SceneTitle and every user afterwords would be able to get the result without having to manually pull. just needs a host

[2019-06-15 12:16] xmxier opened #222 "sometimes pervmom pulling wrong metadata even when the name appear correct with exact match"
sometimes pervmom pulling wrong metadata even when the name appear correct with exact match?

[2019-06-15 12:30] SgtBatten commented on #221
Exact url doesn't mean you need to go find the full url of the scene. Often it just means you need to have the full exact name of the scene which in my experience is rarely different from what the name is from the download.

I might be missing what you are intending here.

[2019-06-15 12:43] xmxier commented on #191
no it's working only mylfdom because the site was removed from mylf to http://mylfdom.com/

[2019-06-15 14:15] claygoldfinch commented on #222
Have any examples? Search term & log file?

[2019-06-15 14:46] claygoldfinch commented on #220
It works if I replace "stream" with "www". Just tested using this code:

[code]

[2019-06-15 15:33] xmxier commented on #222
just now tried to match /899/welcum-home-stepmom/aaliyah-love2
it ends up matching Unclasp Her Stepmom Cooch with different pictures for the scene and the actress.

[2019-06-15 15:36] xmxier commented on #222
and every time I try to refresh metadata it ends up with new wrong thumbnail.

[2019-06-15 17:47] claygoldfinch commented on #222
Thanks!

This was caused by a commit I made a couple weeks back (1b32c15), sorry bout that. Should be totally resolved in PR #219. PR also fixes an issue with the actress for that scene. Let me know if you run into any other issues with scenes/actresses, I don't have a large PervMom collection to test with.

[2019-06-15 19:46] claygoldfinch commented on #127
Played around with the code for a bit, but was unable to get the plug-in to pull more than two actors for this scene. Added them in manually in PR #219

[2019-06-15 19:46] #127 closed

[2019-06-15 22:49] eiberger opened #223 "Not pulling posters from X-art"
All metadata is coming from the X-art site, but not the poster. Or occasionally it manages to get the posters as well.
I use this file name policy as recommended "X-art - Title.mov" (or what the file format is). Earlier it worked as a charm but now I have to add posters manually.

[2019-06-15 23:15] claygoldfinch commented on #223
Yep, I have a large X-Art library and the vast majority pull either a grey poster or no poster at all. It's on the to-do list, I just haven't gotten around to it yet. Much more fun adding new sites than troubleshooting existing ones, haha.

[2019-06-15 23:30] SgtBatten commented on #223
X art was my inspiration for PAextras. I have a large X-Art collection also.

The X-Art website present a few issues. Some videos have no image sets.
Some videos have an associated image set but the name is different.

This is why  the code scrapes 3 external sites looking for the same scenes to get the posters from.

The 3rd of these sights. X-Art beauties finds images but the images don't downlo

[2019-06-15 23:30] SgtBatten commented on #223
Can you give me 2 or 3 examples and I'll look specifically

[2019-06-15 23:47] claygoldfinch commented on #223
Yep, exactly the same issues I ran into when I looked into fixing the issue. Been doing so testing so I currently only have older scenes available.

Here's one that pulls a grey poster:
https://www.x-art.com/videos/awesome_threesome/

And one that doesn't pull any posters:
https://www.x-art.com/videos/wet_orgasm/

[2019-06-16 00:27] SgtBatten commented on #223
Okay the Grey poster one is being caused in our code I assume. It pulls two posters from xart.com and then gets the fanart ones.

http://content1.x-art.com/videos/awesome_threesome/x-art_faye_leila_awesome_threesome_1.jpg
http://content2.x-art.com/videos/awesome_threesome/x-art_faye_leila_aw2.jpg

first works, second is grey. Changing it to http://content1.x-art.com/videos/awesome_threesome/x-art_

[2019-06-16 00:29] SgtBatten commented on #223
Ahh okay, easy fix.

I remember doing this a while ago

posterURL = poster[:-21] + "2.jpg"

but xart must do it differently now. Fix coming

[2019-06-16 00:46] #222 closed

[2019-06-16 00:49] SgtBatten commented on #223
I tested it on a few scenes and all seem to work using -5 now instead of -21.

I committed straight to master as it was so minor. Please keep an eye out for any unexpected issues.

Looking at the no posters one now

[2019-06-16 01:00] woodbridgesub commented on #148
@PAhelper @claygoldfinch wanted to just check back to see if you (or anyone else) had any further insight into this problem?

[2019-06-16 01:38] SgtBatten commented on #223
I've also fixed the no poster pull issue but am trying to make it pull the thumbnails also if theres no fansite matches. wont be too long

[2019-06-16 02:59] SgtBatten commented on #223
Should be fixed in #224

[2019-06-16 08:35] eiberger commented on #223
Wow, quick response :) Here is a screenshot from my Plex with movies from 2011 that I added recently. As you see some are OK with poster, some have another image, and some have light grey image and one in the top left corner appear to have nothing at all.

I also see that even if I do the same with naming of my files (X-art - filname etc), some of the films have "X-art" before the filename in Plex

[2019-06-16 11:19] SgtBatten commented on #223
I just tried about half of those grey ones with the new code and all worked. Also the rich girl part 2 was also fine in terms of name and posters. There's nothing I can do if it doesn't auto select the right poster though. usually its a cache problem with having already chosen a bad one previously. I'll merge the PR now.

@eiberger

[2019-06-16 11:20] SgtBatten commented on #220
Cheers mate, works nicely

[2019-06-16 11:20] #220 closed

[2019-06-16 18:53] claygoldfinch commented on #223
Thanks again, @SgtBatten! I'll test this out later today.

[2019-06-16 19:04] claygoldfinch commented on #102
Resolved via sceneID match in PR #225. Read the PR notes if you're having issues.

[2019-06-16 19:04] claygoldfinch commented on #131
Resolved via sceneID match in PR #225. Read the PR notes if you're having issues.

[2019-06-16 19:05] claygoldfinch commented on #189
Resolved via sceneID match in PR #225. Read the PR notes if you're having issues.

[2019-06-16 19:06] claygoldfinch commented on #136
Fix incoming.

[2019-06-16 19:08] claygoldfinch commented on #148
Haven't experienced this, or had a chance to look into it yet. It's on the to-do list, though.

[2019-06-16 19:14] Sinjin69 commented on #136
PR #225

[2019-06-16 19:59] claygoldfinch commented on #136
Might take a little longer just due to the fact that DP includes movies.

Each movie has its own [page/sceneID](https://www.digitalplayground.com/movie/4353789/1), but all the scenes from that movie redirect to a single [page/scene ID](https://www.digitalplayground.com/scene/4353791/1).

Will have to play around with it a bit more.

[2019-06-16 21:06] eiberger commented on #223
I tried adding the 2010 X-art videos into a new library. When clicking on the pencil on the cover art - and then poster I see a lot mor media files - several versions of the cover/poster - some is fan art I guess? The grey cover is still there and is the default poster, so I have to go an change poster manually for each movie. Maybe there is a setting I am missing.

But still - a great improvement

[2019-06-16 23:21] AbuSayidAlIslam commented on #198
I'm running Arch Linux

[2019-06-16 23:23] AbuSayidAlIslam commented on #198
It is.

[2019-06-17 03:15] SgtBatten commented on #223
The grey one as far as I have tested is not or should not be being added as new.

I'll check this title when I get home.

[2019-06-17 05:05] SgtBatten commented on #223
I just tested She Cums in Colors and it worked fine. No grey image and the poster was defaulted to correctly. The fansite posters failed because I have not resolved one of the sites yet and it was the only hit so that was expected. The fact you dont have the fanart blank ones showing indicates you are not using the PAextras code which has been implemented for a few months.

![image](https://user-i

[2019-06-17 09:23] insickin commented on #28
Can you take a look at this: @claygoldfinch @SgtBatten @dxm2891 @PAhelper

[2019-06-17 14:17] Spanishu commented on #177
Could the sitemap by used for swallowed, nympho etc ? when I check the swallowed.com sitemap it looks like there is a lot of info available which should be parseable. https://tour.swallowed.com/sitemap.xml Would love to have a the nympho, swallowed and true anal site fixed ;) Thanks in advance

[2019-06-17 15:09] eiberger commented on #223
I am quite new to Github - I really thought I downloaded the latest/correct version with the bug fix...

[2019-06-17 15:25] claygoldfinch commented on #223
@SgtBatten just re-scanned 940 scenes, released between 2010 and 2018, and only had one instance of the "grey poster" - [Angelica~Hotter Than Ever](https://www.x-art.com/videos/angelicahotter_than_ever/)

@eiberger try doing the [Plex Dance](https://forums.plex.tv/t/the-plex-dance/197064), best way to clear an existing metadata cache.

[2019-06-17 15:27] claygoldfinch opened #226 "Add new actors aliases"
**pls can you add new actors alias**
            if newActor == "Amy":
                newActor = "Abella Anderson"
            if newActor == "Bridgette B.":
                newActor = "Bridgette B"

_Originally posted by @kamuk90 in https://github.com/PAhelper/PhoenixAdult.bundle/pull/225#issuecomment-502717405_

[2019-06-17 15:55] #226 closed

[2019-06-17 21:37] eiberger commented on #223
I don't mean to ask newbie questions or for general Plex support. Let me know if I am asking things that don't belong here. But I have downloaded the software from [here](https://github.com/PAhelper/PhoenixAdult.bundle/tree/7f31544318e23409087ec5541b323ef0f03f9cb3) (The green download-button).
<img width="991" alt="Skjermbilde 2019-06-17 kl  23 27 54" src="https://user-images.githubusercontent.com

[2019-06-17 22:33] SgtBatten commented on #223
@eiberger please provide the log for one of these items after refreshing metadata.

[2019-06-18 01:28] claygoldfinch commented on #210
All Twisted Factory channels now supported (PR #225).

[2019-06-18 03:43] claygoldfinch commented on #120
All sites fixed, PR #225.

@Spanishu

(Thanks to @kamuk90 for his code)

[2019-06-18 05:11] eiberger commented on #223
I found  In the Logs/PMS Plugin Logs-folder the following log-file named com.plexapp.agents.phoenixadult.log. It was created 23.07 yesterday local time, and was when I did my last try. It is quite long so I copied it into my Public Dropbox folder:

https://www.dropbox.com/s/s6uksp6o7p5u8r3/com.plexapp.agents.phoenixadult.log?dl=0

[2019-06-18 05:47] eiberger commented on #223
I found In the Logs/PMS Plugin Logs-folder the following log-file named com.plexapp.agents.phoenixadult.log. I did a metadata refresh and verified that the time of the log-file is created as a result of the refresh. The library contains X-art movies from 2010 and 2011.

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3299938/com.plexapp.agents.phoenixadu

[2019-06-18 06:08] SgtBatten commented on #223
@eiberger Here's part of your log for She Cums in Colors.
![image](https://user-images.githubusercontent.com/24822223/59657067-e7da7180-91e2-11e9-936c-42777d5d59ce.png)

It only attempts to download two images and both of them are valid. One poster and one background which it seems is in fact working for you.

1. Try just refreshing one item and focus on solving it for one.
2. Try manually unmatch

[2019-06-18 06:36] SgtBatten commented on #223
@claygoldfinch
Just published a fix for the one grey poster you had left.

[2019-06-18 14:35] eiberger commented on #223
Well, that did the trick. The grey posters are gone and Plex is choosing the correct posters.
Thanks for all help!

[2019-06-18 16:56] kamuk90 commented on #189
@claygoldfinch
can you add in actors database for mofos site manual Name and URL to movieActors.addActor(actorName, actorPhotoURL)
I can give you all actors from mofos in txt file
[mofos actors.txt](https://github.com/PAhelper/PhoenixAdult.bundle/files/3302592/mofos.actors.txt)

[2019-06-19 08:48] kamuk90 opened #227 "add Selenium to extra library"
Friends i can't handle it alone.
I tried to add a selenium library to the plugin.
I'm trying to add a webdriver namely phantomjs to the library for its further use in site analytics.
urblib is already outdated in site analytics
How do you look at this?
let's do it together

[2019-06-19 17:39] claygoldfinch commented on #189
@kamuk90 I ripped out the code needed to scrape actor photos from their mofos profile, I'll just add it back in.

[2019-06-19 20:08] SgtBatten commented on #223
Sweet. No worries

[2019-06-19 20:08] #223 closed

[2019-06-20 12:34] kamuk90 opened #228 "PervMom fix"
fixed wrong posters and actorUrl
[sitePervMom.py.zip](https://github.com/PAhelper/PhoenixAdult.bundle/files/3310367/sitePervMom.py.zip)

[2019-06-21 05:21] SgtBatten commented on #114
Located this guide which I have no had time to fully consider yet but may prove useful.

https://impythonist.wordpress.com/2015/01/06/ultimate-guide-for-scraping-javascript-rendered-web-pages/

[2019-06-21 20:33] claygoldfinch commented on #189
@kamuk90 Added back in with my latest commit (along with a few other changes).

[2019-06-21 22:25] TheAverious commented on #1
Pure Mature (https://puremature.com/)

[2019-06-22 00:59] claygoldfinch commented on #1
Already supported! Check out the Wiki for full site support.

[2019-06-22 05:01] rourien commented on #1
PORN DATABASE

IAFD.com

ATK MEMBERSHIP SITES

ATKingdom.com
ATKHairy.com
ATKGalleria.com
ATKExotics.com
ATKPremium.com
ATKPetites.com
ATKArchives.com
ATKGirlfriends.com

GF LEAKS MEMBERSHIP SITES

gfleaks.com
daredorm.com
gfrevenge.com
etc

OTHER SITES

abbywinters.com
agirlknows.com
allfinegirls.com
alsscan.com
collegerules.com
exploitedcollegegirls.com
freshouttahighschool.com
ftvgirls.com
girl

[2019-06-22 17:09] ferengi82 opened #229 "a litte help please"
hi,

i tried to add my first Site (first time on git, python beginner, so please be patient)

Title, Description and some Pictures are working, but i cant get the Date right. (The Xpath works if i try it in an Browser or in an python-script)

Would be nice if someone could give me a hint what im doing wrong, Thanks!

here is the code:
https://github.com/ferengi82/PhoenixAdult.bundle/commit/1a4674d

[2019-06-22 23:16] TheAverious commented on #1
In the Crack (https://inthecrack.com/)
I Feel Myself (http://www.ifeelmyself.com/)
GirlsDoPorn (http://www.girlsdoporn.com)
Beautiful Agony (https://www.beautifulagony.com)

[2019-06-23 04:39] claygoldfinch commented on #229
Date scraping is working just fine for me in the newer scenes, such [as this one](https://www.littlecaprice-dreams.com/project/trailer-thats-me-little-caprice/#).

Older scenes (such as [this one](https://www.littlecaprice-dreams.com/fan-meeting-in-rouen/)) seem to have a very different page layout - this may be where you're running into issues?

Just a heads up, line 9 should be this:

`for searc

[2019-06-23 05:12] #102 closed

[2019-06-23 05:12] #189 closed

[2019-06-23 05:12] #131 closed

[2019-06-23 05:19] #120 closed

[2019-06-23 12:27] ferengi82 commented on #229
tanks for the quick answer.
I forgot to restart plex after editig the init file.

Created my first Pull request, hoping everyting is ok.

[2019-06-23 12:27] #229 closed

[2019-06-23 20:14] claygoldfinch opened #233 "Proposal - Removal of Supported Sites List from Readme"
I think this would simplify things for a few reasons:

- Only one location (the Wiki) has to be updated every time a site is updated or added. Over the past couple weeks I've added 50+ sites/subsites to the Wiki. These sites have been supported for quite a while, but either the Readme or Wiki were never reflected to show these changes. Kinda useless to add support for sites if no one knows they ar

[2019-06-23 20:58] insickin commented on #233
I think that that's a good idea! The readme is a bit outdated anyway! Maybe a rework of the readme?

[2019-06-23 21:34] r0x0r316 commented on #221
Not everyone gets the download directly from the sites. and  i would like to see a central point to scrape data from independent from site changes once someone matches everyone can match.

[2019-06-23 23:19] #210 closed

[2019-06-23 23:20] #121 closed

[2019-06-23 23:21] #204 closed

[2019-06-23 23:45] PAhelper commented on #233
Originally the README was the full list of sites, but as the list got so expansive, I thought it better to just list each supported network in the README, and use the Wiki to list each and every individual site under all the networks. I obviously failed at keeping both lists maintained the way I should have...

I agree that having a single location for all supported sites would be ideal.

[2019-06-24 01:49] CuddleBear92 commented on #189
I am having issues with this after even testing on fresh installs of plex servers.
I am guessing the manual search query should be something like `Mofos 4357223` no with the Scene ID from the url on the main site.
Queries end in 404 and the queries noted in the logs also result in a 404 when opened.
Tried it with Mofos or just Mofos with mixing up ids and titles aswell with no luck at all. Doing a

[2019-06-24 01:52] d2dyno commented on #233
Perhaps we can have move the wiki document to a doc/readme (either .md or .rst), and properly rewrite things. One of the main things I want to re-write things to, is having a 'level of search' number, and each site has a level assigned to it (and sub-level where necessary, see below). This would remove the '*** scene id' or '*** exact url only' next to each site on the wiki. I think a doc also hel

[2019-06-24 03:01] claygoldfinch commented on #233
@PAhelper No worries, until recently I've been pretty lax about it myself, haha.

@d2dyno That sounds perfect! I've been meaning to address the "Level of Search" for quite a while now.

A few things I've been wanting to clarify for users that I think the Wiki/Readme struggles with:

**SceneID Search vs SceneID Match vs SceneID Only**
- SceneID Search: Scene ID can be entered as the ONLY search ter

[2019-06-24 03:58] d2dyno commented on #233
Alright, glad I had the right thought! I will get to work on this tonight. Any sites I am not sure the search level, I will indicate as such in the document. Thanks for the above clarifications, and I will use those in the document as well :p

[2019-06-24 06:18] r0x0r316 commented on #233
Make that list scrapeable for the rename script or postprocesssing so one
could determine actor title search and rename on that basis

On Mon, Jun 24, 2019 at 5:58 AM d2dyno <notifications@github.com> wrote:

[2019-06-24 20:58] CuddleBear92 commented on #1
Site requests:

**[Top Web Models](http://topwebmodels.com/)** Multiple sites (Universal Search i believe)
	https://biggulpgirls.com - https://deepthroatsirens.com - https://facialsforever.com - https://poundedpetite.com - http://shesbrandnew.com - https://cougarseason.com/ - https://2girls1camera.com/

**[FILF](https://www.filf.com/)** (Standalone?)

**[Hussie Pass](https://hussiepass.com/)** (Tr

[2019-06-24 22:38] claygoldfinch commented on #79
Improved substantially in PR #235. Read PR notes for more info.

Instances where actresses have performed for the same site multiple times are still going to cause some issues with matching. Unfortunately it doesn't seem as there's any way we can improve this, as Dogfart names every scene "Actress", doesn't include publish dates, and sceneIDs are essentially garbage.

@d2dyno

[2019-06-24 23:04] claygoldfinch commented on #1
@CuddleBear92 Dogfart Network is already supported, it just kinda sucks. I've just submitted a PR (#235) that should help with matching.

[2019-06-25 14:34] CuddleBear92 commented on #1
Thanks, Must have missed it somehow. Huh, Corrected and removed dupe requests already supported. Sorry about that!

Noted that Dogfart Network does not pull the release date at all.

[2019-06-25 18:55] ferengi82 commented on #174
i looked into this a litte bit more, Badoinkvr (and the other network sites) changed their search urls.
Im trying to fix it my self in a few days

[2019-06-25 18:59] pandemiccum commented on #1
Site Request:
https://clips4sale.com
https://pornhub.com

I realize most sites requested are mainstream porn, but considering Manyvids is supported these additions would be great (yes, people do download material off of PH)

[2019-06-25 20:21] claygoldfinch commented on #233
I'm gonna close this, all convo/input should probably be done at the drafted PR.

[2019-06-25 20:21] #233 closed

[2019-06-25 20:46] claygoldfinch commented on #79
PR merged, closing issue.

[2019-06-25 20:46] #79 closed

[2019-06-25 21:08] dxm2891 commented on #211
Fix this bug in commits 321609c 2019-06-25

[2019-06-25 21:09] #211 closed

[2019-06-26 04:15] mrwoofa opened #236 "Metadata API"
I found the metadata returned from this plugin to be quite good, but it's lacking in a lot of places. Plus it can take a very long time to find a single release.

So I'm working on a metadata database, somewhat like TVDB/TMDB that Plex uses already.

If anyone would like to lend a hand, reach out to me :) Hopefully once I'm done filling up the database, we could supplement this plugin with the API

[2019-06-26 05:38] dxm2891 commented on #236
It is an excellent idea. A single database should be created for all sites. So to do the complete search once every day and the plex plugin it would take very little time to search. A similar thing already existed but it was bad: data18.com

[2019-06-26 06:28] SgtBatten commented on #236
Data18 was glorious.

I only can see a Database being useful if it is also storing the links to images or even the files themselves as a lot of effort (and plex search time) goes into getting posters.

[2019-06-26 06:55] CuddleBear92 commented on #1
Can animation get some love?
Both of these have animations in both normal video formats and application variants, parsing both would be a must as unofficial releases of application variants is common for sure.

Affect3D should be super easy.
[Affect3D - https://affect3dstore.com/animation.html](https://affect3dstore.com/animation.html)

[DLsite - https://www.dlsite.com/ecchi-eng/works/animation](h

[2019-06-26 07:09] r0x0r316 commented on #236
One could host them in unlimited gdrive for reliable hosting

On Wed, Jun 26, 2019 at 8:28 AM SgtBatten <notifications@github.com> wrote:

[2019-06-27 19:54] claygoldfinch commented on #1
@rourien
- A Girl Knows is already supported
- A few of the sites you've requested can't be added, as all scene pages redirect to a "Join Now" page.
- I've been working on the ATK sites for a while, but the issue is that a quite a few scene pages just don't exist. For example, if you go to Elsa Jean's [profile](https://www.atkgirlfriends.com/tour/model/els004/1/atk-girlfriends-Elsa-Jean):
  - http

[2019-06-28 01:57] d2dyno commented on #221
This sounds like an idea for a branch-out project. Personally, I don't want any details of my server going to a scraper's database.

[2019-06-28 01:58] d2dyno commented on #227
Is this on the right project?

[2019-06-28 02:03] d2dyno commented on #236
Data18 was very well done, and for quite some time, had the legal right to all they did. I was always impressed with the number of genres they would have on a single scene.

@r0x0r316 that would not be wise. Not only is it likely against their ToS, but there is also a strong chance the host would hit the api limit rapidly, and the DB would then be unavailable.

Overall this is a good idea, that I'

[2019-06-28 02:04] d2dyno commented on #228
Please close this and file a pull request: https://github.com/PAhelper/PhoenixAdult.bundle/pulls

[2019-06-28 02:30] claygoldfinch commented on #221
I agree with @d2dyno, I don't think it's a good idea to save any user data to a public DB. I'm going to close this issue.

[2019-06-28 02:30] #221 closed

[2019-06-28 02:35] claygoldfinch commented on #236
I think the best option, in terms of both legality and feasibility, is to scrap site maps when available. This has already been proposed by @d2dyno in Issue #177.

[2019-06-28 02:39] d2dyno commented on #1
I know it's in the op's list, but I am re-requesting:
- Dadcrush
- DaughterSwap
- Bang! network

[2019-06-28 04:36] claygoldfinch commented on #1
@d2dyno DadCrush now supported.

[2019-06-28 04:57] claygoldfinch commented on #228
This breaks #158 again. I'll look into this, but will not be merging it as-is.

[2019-06-28 16:18] claygoldfinch commented on #228
Should be finally resolved in PR #238

[2019-06-28 16:18] #228 closed

[2019-06-29 06:53] ferengi82 commented on #174
to late, delpoibl fixed it in https://github.com/PAhelper/PhoenixAdult.bundle/pull/239, thanks

[2019-06-29 06:53] #174 closed

[2019-06-29 10:59] dxm2891 commented on #236
But sitemap is only to get all link scenes. The best option is to get all scene with sitemaps and collect all information on webhost that allows adult content. But webhost has a price

[2019-06-29 15:05] insickin commented on #1
Can:
https://straplezz.com/ (StraplessDildo) be added?

[2019-06-29 16:12] claygoldfinch commented on #1
Straplezz is already supported, just haven't updated the readme/wiki as they're currently being overhauled. I've looked into Abby Winters but it's a bit of a pain as the search function isn't as straightforward as most sites.

[2019-06-29 16:20] insickin commented on #1
Ah ok, thanks!

Another one:
https://horrorporn.com/ (I know, its a little strange)

[2019-06-29 16:59] claygoldfinch commented on #1
Yep! It's just a matter of time.

[2019-06-29 17:04] claygoldfinch commented on #236
Depends on the site. Check out the babes sitemap:
https://www.babes.com/scenes_sitemap1.xml

[2019-06-29 18:09] dxm2891 commented on #236
the problem with these sitemaps is that unfortunately they are restricted. We need to find the general from which the various ramifications lead. it is certainly better than the one I saw but it would always be advisable to do the management first via links and download the contents into a host or database and then do the whole thing. At most, if we don't want to insert images or anything else we

[2019-06-30 06:55] dxm2891 commented on #236
Creating a database was already something I wanted to do 4 years ago and every time I gave up, so I regretted doing it now. In these months I will try to do tests. Whoever wants to add himself as a pragram-maker can tell me and let's do something. I think I create everything in PHP.

[2019-06-30 15:52] dxm2891 commented on #236
For now I have created the Brazzers crawler and i take 50 scenes in only 1 minutes.
For those who want a preview: http://theadultdb.com/
Login only for preview access:
user: 'addb'
pass: '$Yd984nmjd!'

[2019-06-30 20:15] ferengi82 opened #242 "ultrafilms"
hi,

i tried my luck on ultrafilms.com / .xxx / .org. But im not sure how to get the best out of this site/s.

ultrafilms.com - no search, no video gallery, nothing
ultrafilms.xxx - search (title and actor), previews, genres, etc, **but no description**
ultrafilms.org - search (title and actor), genres, description, no images, **not all scenes aviable**

+ Releasedates from .xxx and .org dont matc

[2019-06-30 20:59] claygoldfinch commented on #242
If org is missing scenes, I'd just use xxx as the primary search.

Personally, I wouldn't bother with trying to pull summaries. However, if that's something you're interested in trying out, it appears as though you can scrape the title from xxx and plug it into org (ie "Ally - American Guest" --> "https://www.ultrafilms.org/Ally-American-Guest/").

It seems as though both xxx and org list scenes a

[2019-06-30 23:36] mrwoofa commented on #236
Hey @dxm2891

Did you want to collab? I've actually come a long way into my database. I've got 200 sites in the database and 40,000 scenes.

I've also got it scraping the images and resizing them, for Plex, but I'm not sure of the legality of this. So i might end up just serving the image URLs instead of actually saving them.

I don't really have a nice frontend, like you do yet, I'm just focusing

[2019-07-01 00:38] claygoldfinch opened #243 "MetArtX Not Finding Matches"
[code]

[2019-07-01 18:53] dxm2891 commented on #236
@mrwoofa

As soon as I have something more concrete with pleasure, I want to first try to crawl 5 sites and retrieve the stars and genres to see if everything works well.

My purpose is to create the API, the graphic you see I used for another site and I just adapted it to see if everything works.

Once the APIs are created we will agree with @PAhelper , @claygoldfinch  and the other collaborators

[2019-07-01 23:39] mrwoofa commented on #236
@dxm2891

No problem. I've created quite a few scrapers now in my system, so we could potentially share our scrapers, since both are in PHP.

I'm currently working on a way to scrape sites that have Cloudflare in front of them that blocks scraping. Not sure if i should continue down this route, or allow certain videos to be crowdsourced.

[2019-07-01 23:41] r0x0r316 commented on #236
For the simplicity and scale of things make the api without website access
just for this and future plugins in mind anything else would bring unwanted
attention. Make methods for retrieving content and search the api with
flexibility in mind, for instance what should work in Plex should also work
in emby Kodi and so on. And off course use apilimits and keys in order to
avoid abuse of the service,

[2019-07-02 00:00] mrwoofa commented on #236
@r0x0r316 I tihnk that's a great idea. That's how i was going to handle it.

I've already got the API going, using it personally, so you could already implement it into Plex.

But i don't have the wide range of sites this plugin has YET.

I've already laid the groundwork for API Keys and Rate Limiting, so we'll go from there.

[2019-07-02 22:09] MelvinGr commented on #1
Could you add support for TrueAnal.com?

[2019-07-02 22:30] claygoldfinch commented on #1
Already supported!

[2019-07-03 02:13] d2dyno commented on #1
[FetishNetwork](http://www.fetishnetwork.com/t2) (there are more than listed below, but those are the only ones I care about)

- BrutalPickups

- BrutalPOV

- HelplessTeens

- HostelXXX

- InternetCreeper

- LatinaPatrol

- OperationEscort

- SexualDisgrace

- TeenCreeper

- TeensInTheWoods

- WaitressPOV

[2019-07-03 07:02] d2dyno opened #245 "list index out of range on mylfblows scene"
Trying to match using `mylf 1837/after-school-milf-suck`, and logs produce:

[code]

[2019-07-03 13:49] Spanishu opened #247 "Letsdoit broken"
Hi
I have tried today to match some Herlimit and Thewhiteboxxx and none of them were found. Also looks like the webpage has been remodeled.

[2019-07-03 18:38] kamuk90 commented on #247
replace 7 line in sitePorndoePremium.py
[code]
and try. sorry can't test

[2019-07-03 19:04] kamuk90 commented on #245
replace line 15 in siteMylf.py
[code]

[2019-07-03 19:20] neon2194 opened #248 "EvilAngel Match/Search Broken"
Hi,

Currently running plex through docker on unraid.

No matter what I try, EvilAngel does not match. I even tried to copy what was written on the code page for evilangel "EvilAngel - 2016-10-02 - 119883" but that didn't bring any results either.

I'm happy to send logs but can someone tell me where to find them?

Thanks

[2019-07-03 21:19] kamuk90 opened #249 "VogoV.com Linux error"
I writing code for VogoV.com and have error like this #64

URLError: <urlopen error [SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake failure (_ssl.c:590)>

[2019-07-03 21:23] #227 closed

[2019-07-04 01:35] chonka1 commented on #248
They updated the site as of today, so this will definitely need to be updated.

[2019-07-04 04:18] ferengi82 commented on #249
same problem here with ultrafilms.xxx. im trying to copy the pornpros code. but at the moment im getting only more errors (pornpros is working). maybe you have more luck / knowledge

[2019-07-04 12:25] Spanishu commented on #247
That fixed it. Can we get this back into the stream @PAhelper @claygoldfinch ?

[2019-07-04 13:28] insickin commented on #1
Can https://ftvmilfs.com and https://www.ftvgirls.com be added?

[2019-07-04 18:13] kamuk90 commented on #247
already included in #246

[2019-07-04 21:37] yes12397 commented on #248
Evil Angel / www.evilangel.com
File Name : Smells Like Paris / Search term  : Evil Angel - Smells Like Paris
Logs:
2019-07-05 01:34:07,093 (700004750000) :  DEBUG (runtime:717) - Handling request GET /:/plugins/com.plexapp.agents.phoenixadult/messaging/function/X0FnZW50S2l0OlNlYXJjaA__/Y2VyZWFsMQoxCmxpc3QKMApyMAo_/Y2VyZWFsMQoyCmRpY3QKZGljdAo2CnMyCmVuczQKbGFuZ2IxczYKbWFudWFsYjFzNwpwcmltYXJ5aTAKczcK

[2019-07-04 21:51] yes12397 opened #250 "Latest site added with date to be viewed in Wiki after the Full Supported list"
rather than entering  the full list and search line by line if these is something new added.
we create in the wiki a log with latest site with date . it will be much clear than Read.ME

thanks

Label : Enhancement

[2019-07-04 22:25] kamuk90 commented on #249
try use code siteVogoV.py file from #246
I was able to correct my mistake

[2019-07-05 01:49] CuddleBear92 opened #251 "Expand rename script to move and create folders."
Would love to see the rename script get expanded on with additional features like folder creation of sites and networks.

This thing: https://github.com/PAhelper/PhoenixAdult.bundle/tree/master/postprocessing/windows

I think the additions to file moving and folder creations could help people setup their collection more automatically. Even if the files need to be renamed manually in the end to fit

[2019-07-05 04:29] d2dyno commented on #250
This sounds like something that https://github.com/PAhelper/PhoenixAdult.bundle/pull/234 will resolve. We are moving to a CHANGELOG.md file for all changes.

[2019-07-05 20:26] ferengi82 commented on #249
ssl works great, thanks.
but i hand no luck with your xpahts => please look over my suggestions they work for for me

[2019-07-05 20:27] #242 closed

[2019-07-06 07:41] d2dyno opened #252 "list index out of range for Swallow Salon"
[code]

[2019-07-06 08:15] d2dyno opened #253 "VivThomas search result url needs updating"
Currently, a search within the agent, will yield a result of something like `https://www.vivthomas.com/search/squirt%20surprise/relevance~0~68~-~-~-~-~-~-/2`, checking this on the website, will show there are 29 items found, but will not actually display them. So, I tried changing the url simply to `https://www.vivthomas.com/search/squirt%20surprise/relevance` and this shows the results correctly

[2019-07-06 13:35] insickin commented on #1
And: www.fitting-room.com

[2019-07-07 08:51] fritz276 commented on #245
Thanks, that helped for the mylf sites. No posters, though.

[2019-07-07 13:57] insickin commented on #136
How is the fix going, is it coming?

[2019-07-07 16:06] insickin commented on #1
And: https://www.cumlouder.com/

[2019-07-07 18:44] insickin opened #255 "Wowgirls cant find a scene"
Ok, I'm trying to add my Wowgirls scenes but it can't find 1.

Namely: WowGirls - Skin Care.

After looking in the logs I see that the agent tries to find the scene on: https://www.wowgirls.xxx but there its not listed! I found the scene on https://wowgirls.tv (https://wowgirls.tv/videos/lauren/skin-care/) maybe this site (which has a search function) can be integrated in the agent?

[2019-07-08 06:14] d2dyno opened #256 "list index out of range for StepSecrets"
[code]

[2019-07-08 18:13] claygoldfinch commented on #253
This is the same issue as #243, as MetArt, MetArtX, SexArt, and VivThomas are all related.

[2019-07-08 18:13] #253 closed

[2019-07-08 18:16] claygoldfinch commented on #243
Seems to be affecting VivThomas, as well.

Additionally, some sites now append `/relevance?contentType=movies` to the end of the url instead of `/relevance~0~68~-~-~-~-~-~-/` in order to filter photo galleries from the search (and limit it to only movies).

[2019-07-08 18:19] claygoldfinch commented on #248
@yes12397 Thanks for the log! Definitely a site redesign.

Updated Pinned Issue #218, I'll start looking into this.

[2019-07-08 19:38] insickin opened #257 "Viv Thomas Support"
I'm trying to add: "Viv Thomas - Mature Attraction Episode 1 - Blissful" to my server but I cat get it to match! I've tried all sorts of combos but to no avail...

"Viv Thomas - Mature Attraction Episode 1 - Blissful"
"VivThomas - Mature Attraction Episode 1 - Blissful"
"Viv Thomas - Mature Attraction Blissful"
"Viv Thomas - Blissful"

Can someone show/tell me if i'm doing something wrong or that

[2019-07-08 20:13] claygoldfinch commented on #257
Same issue as #243.

[2019-07-08 20:13] #257 closed

[2019-07-09 06:38] yes12397 commented on #250
thanks

[2019-07-09 06:38] #250 closed

[2019-07-09 14:01] RafalHo opened #261 "Private"
Could someone tell me how to get a description to the movie?
File name: Private - Sexy Teenagers 2
https://www.private.com/movie/3902-sexy-teenagers-2/

[2019-07-09 15:55] claygoldfinch commented on #261
Looks as though the agent only supports Private scenes, not movies.

[2019-07-09 16:15] yes12397 commented on #248
@claygoldfinch  Most welcome :)

[2019-07-09 17:14] claygoldfinch opened #263 "Gangbang Creampie Search Issues"
Search seems broken on their site, using the scene number is the only way to find a match.

_Originally posted by @d2dyno in https://github.com/PAhelper/PhoenixAdult.bundle/pull/260_

[2019-07-09 17:24] claygoldfinch commented on #263
What exactly appears to be the issue?

Search is somewhat limited, just due to how the site names their scenes. However, it does seem to work as expected. For example:

**Search Term: "Charlotte"**
Search Results:
- GangBang Creampie 222 (a scene she is in, confirming actor search works)
- Behind The Scenes with Charlotte (again, confirming actor search works)

**Search Term: "Behind The Scenes wi

[2019-07-09 17:33] claygoldfinch commented on #252
Resolved in PR #262

[2019-07-09 17:33] #252 closed

[2019-07-09 17:46] CuddleBear92 commented on #236
Might be a good idea to scrap data18 while its still up for the scene<>movie links they have. Otherwise it might be tricky to get the links as other sites don't list scenes for the movies at all. That is if you plan to have dvd's at all in anyway.
Having both makes sense for sure and gives all the users options.

[2019-07-09 18:48] claygoldfinch commented on #256
Resolved in PR #262

[2019-07-09 18:48] #256 closed

[2019-07-09 19:04] claygoldfinch commented on #255
Is WowGirls.tv missing any scenes that are on WowGirls.xxx?

[2019-07-09 20:16] ferengi82 commented on #255
yes, these sites are a mess
https://www.wowgirls.xxx/?s=nekane
https://wowgirls.tv//?s=nekane&x=0&y=0

i even found a scene on ultrafilms that belongs on wowgirls ...

for the optimal results i think we ned to change from sites to network for wowgirl, ultrafilms, wowporn, (any other?) an check on any of them for the scene

[2019-07-09 20:20] RafalHo commented on #261
Is there a chance that he also supports movies ;)

[2019-07-09 20:38] blackibanez commented on #261
Hi

You can use my plugin , specially made for Private Movies :
https://github.com/blackibanez/Privatemovies.git

[2019-07-09 21:26] RafalHo commented on #261
Super, works, thank you.  Is there any chance to add a cast of the movie in the future?

[2019-07-09 23:43] claygoldfinch commented on #245
Resolved in PR #264

[2019-07-09 23:43] #245 closed

[2019-07-09 23:46] claygoldfinch commented on #191
Resolved in PR #264

[2019-07-09 23:46] #191 closed

[2019-07-10 00:28] d2dyno commented on #263
Thanks for all the work today!

Hmm, I was trying actor names (first and last name, maybe I should try just first name), date, and ID. Using date at all would break the search, and as I said first and last name wouldn't work either. I can test some more.

[2019-07-10 03:55] calibear20 opened #265 "FakeHub Site Change"
Hello,

It looks like FakeHub have changed their whole website. This has broke the Scene search that was implemented. FakeHub videos are now based on IDs.

Based on the previous implementation I would have passed something along the lines of this:

https://www.faketaxi.com/search/videos/fuck%20me%20baby%20one%20more%20time

Now we can use the link below to get to the same scene:

https://www.faket

[2019-07-10 04:29] claygoldfinch commented on #265
Thanks for the heads-up.

Search is still available, but they've switched over to the same layout as Babes/MOFOS/etc. So it's essentially useless.

I'll take a look at converting this over.

[2019-07-10 05:36] blackibanez commented on #261
Hi,
Normally cast is supported, I’ll see if site change. TY

[2019-07-10 10:17] yes12397 commented on #1
www.hanime.tv

[2019-07-10 19:40] insickin opened #269 "Mofos broken"
I am trying to tag "Mofos - Study Break Squirter" but all I get back is "no matches". I think that the site has changed somewhere, yesterday I could get scenes to be tagged.
[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3379150/com.plexapp.agents.phoenixadult.log)

[2019-07-10 19:47] claygoldfinch commented on #269
Try a server reboot. Sites with this new layout can be a bit buggy sometimes.

[2019-07-10 19:51] insickin commented on #269
Oke, I looked after posting if I had the latest version of the Agent which was not the case, updated an now it finds the scene!

[2019-07-10 19:51] #269 closed

[2019-07-10 23:19] SgtBatten commented on #265
I think we might need to consider a python 3 compatibility check/rewrite so that we can use requests-html which can do javascript. The more i try to solve #114 the more issues i run into

[2019-07-11 01:22] claygoldfinch commented on #136
I've actually got this about wrapped up, just have one thing left to do before I submit a PR.

I'm currently struggling to pull the video still from the video player on movie pages. For example:
https://www.digitalplayground.com/scene/4352090/fuck-forever-trailer

Any chance you could give me a hand with this, @SgtBatten?

[2019-07-11 03:30] #107 closed

[2019-07-11 03:36] claygoldfinch commented on #212
I'm going to close this as it seems to be a Linux-related error.

[2019-07-11 03:36] #212 closed

[2019-07-11 03:38] claygoldfinch commented on #172
I'm going to close this and combine it with #104. NewSensations has never worked for me, I think it's past time for an overhaul.

[2019-07-11 03:38] #172 closed

[2019-07-11 03:55] SgtBatten commented on #251
#270

[2019-07-11 05:53] d2dyno opened #271 "TeenPies list index out of range"
[code]

[2019-07-11 05:56] d2dyno commented on #271
This actually looks to be an issue when loading the scene on their site period, not the agent:
https://www.teamskeet.com/t1/trailer/view/eavesdropping_and_pussy_popping/claire_black

[2019-07-11 07:39] yes12397 opened #272 "TransAngels not showing results"
Site : TransAngels / www.transangels.com
File Name : Pool Perfection . Search term : TransAngels - Pool Perfection & TransAngels - 4360896
Log 1 with file name
[code]

[2019-07-11 09:26] yes12397 commented on #1
www.transsensual.com  Part of Gamma and high mile

[2019-07-11 16:46] claygoldfinch commented on #272
Resolved, PR #264.

[2019-07-11 16:46] #272 closed

[2019-07-11 18:21] claygoldfinch commented on #271
Resolved in PR #264.

[2019-07-11 18:21] #271 closed

[2019-07-12 04:42] SgtBatten commented on #251
@CuddleBear92 let me know how you go

[2019-07-12 07:09] insickin commented on #1
Can https://www.sinx.com/ be added?

[2019-07-12 22:36] PHXMIC commented on #1
For the life of me I can't seem to get XConfessions to matched using the title or the actor search

[2019-07-12 22:53] claygoldfinch commented on #136
Decided to commit as-is, PR #264

[2019-07-12 22:59] claygoldfinch opened #273 "XConfessions Matching Issues"
For the life of me I can't seem to get XConfessions to matched using the title or the actor search

_Originally posted by @PHXMIC in https://github.com/PAhelper/PhoenixAdult.bundle/issues/1#issuecomment-511053977_

[2019-07-12 23:02] claygoldfinch commented on #273
@PHXMIC, please read Pinned Issue #218.

[2019-07-13 00:49] claygoldfinch commented on #114
Running into JS errors with Colette, as well.

[2019-07-13 03:01] claygoldfinch commented on #136
Re-opening to address some issues I've noticed while testing.

[2019-07-13 04:05] d2dyno opened #275 "Assistance matching old AnalBeauty scenes"
I am trying to match scenes on Anal Beauty from before they started using full titles (They started using titles November of 2014). Before that, they just used actor first or first and last name. For these scenes, I cannot get the agent to match them. For example this scene, [Iva](http://anal-beauty.com/trailers/Iva-12934.html)

Search terms tried:
`analbeauty 14 03 24 Iva`, `analbeauty Iva`, `ana

[2019-07-13 04:34] claygoldfinch commented on #275
Agent was set up to scrape actors from the search page. One of the scenes on the search page didn't have any actors listed, and was causing the agent to error out.

Resolved in PR #264.

[2019-07-13 08:17] raedwulf83 commented on #255
could www.wowgirlsblog.com be an possible option?
it has a search, scenes looks most complete, but misses the scenes discriptions

[2019-07-13 10:19] ferengi82 commented on #255
im working at the moment on
if scene on .xxx => take infos from there
else look at .tv

if there scenes that are on either of them then we could expande the search to wowgirlsblog

[2019-07-13 13:24] fritz276 opened #276 "Issues with Twistys"
I dont get it. I dont get search results within plex (FreeNAS), eventhough it looks pretty good to me. Some searches do work, though.

Example of not working:

NFO (agentkit:957) - Searching for matches for {'year': '2017', 'id': '89710', 'name': 'Twistys - 3410941'}
2019-07-13 15:03:36,293 (809630400) :  DEBUG (networking:166) - Requesting 'http://127.0.0.1:32400/library/metadata/89710/tree'
2019

[2019-07-13 14:02] claygoldfinch commented on #276
Try rebooting Plex. All these sites with a new layout are a bit buggy and don't like to work 100% of the time. If you're still having issues, try the [Plex Dance](https://forums.plex.tv/t/the-plex-dance/197064).

Additionally, I'm working on getting together a list of scenes that have a only have "Trailer" in the title (ie. https://www.twistys.com/scene/3410941/1), and manually adding scene titles

[2019-07-13 14:10] #275 closed

[2019-07-13 15:31] claygoldfinch commented on #263
Yeah, it looks like the site only uses first names for actresses. Adding the date would only help confirm a match, the site doesn't have a native date search.

[2019-07-13 15:40] insickin opened #277 "Mylf support"
I am trying to add Mylf scenes but with all the scenes I try to add I get back: No matches, I have the latest agent.

For example:
"Pink From the Shrink Milf Seduces Younger Girl" [https://www.mylf.com/movies/1525/pink-from-the-shrink](url)
If I'm right I must search with: Mylfed - 1525/pink-from-the-shrink

I've rebooted my Plex server multiple times.
[com.plexapp.agents.phoenixadult.log](https:/

[2019-07-13 15:46] claygoldfinch commented on #277
Fixed in my latest PR, I'll merge it in.

[2019-07-13 15:56] #277 closed

[2019-07-13 16:01] insickin commented on #277
Thanks it works now!

[2019-07-13 16:58] insickin opened #278 "Mylf support 2"
After the last update from @claygoldfinch most scenes tag perfectly but there are 3 pesky scenes that won't tag:

Mylf - When Her Man Is Away, This Milf Will Play https://www.mylf.com/movies/1713/when-her-man-is-away,-this-milf-will-play

Milfty When It Rains, She Whores! Milf Jerking Cock

https://www.mylf.com/movies/1693/when-it-rains,-she-whores!

Milfbody Do You Even Lift, Hoe Thick Thighs and

[2019-07-13 19:25] claygoldfinch commented on #136
I think I've got it running the best as I can with my last commit. If you're running into issues matching or pulling metadata, try rebooting Plex. If you're still running into issues, try the Plex Dance.

Currently the agent only supports standalone scenes and full movie releases - not individual scenes from movies. I did this for several reasons:

1. The DP site only lists 4 scenes on each movie

[2019-07-13 22:12] SgtBatten commented on #278
Would most likely be due to the punctuation. Remove the commas and question marks and try

[2019-07-13 22:29] insickin commented on #278
Still no dice.... Without the comma's and the question marks IT still doesn't match.

[2019-07-14 04:31] ferengi82 commented on #255
please try it when my pullrequest is merged

https://github.com/PAhelper/PhoenixAdult.bundle/pull/280

[2019-07-14 10:34] insickin commented on #136
Just for information: I was tagging movies and used the site's search and came on the "trailer" page, used that scene-id and it didn't tag, searched around and found the "normal" page used that scene-id and it worked! So if your movie won't tag maybe you are trying to tag with the "trailer" id.

For example:
Digital Playground - Dangerous Women
"trailer" scene-id: [https://www.digitalplayground.co

[2019-07-14 11:53] insickin commented on #136
Just for information:

Many scenes/films have been placed twice on their website, some with the name "trailer" added on the end, others have apparently the same name... (For example [https://www.digitalplayground.com/scene/4304681/spa-seduction](url) and [https://www.digitalplayground.com/scene/4314211/spa-seduction](url) (the first page/scene-id works the 2th doesn't))

So if a scene/movie can't

[2019-07-14 12:25] insickin commented on #136
I have 1 scene that has no other "pages" "DigitalPlayground - Blow Dry" [https://www.digitalplayground.com/scene/4359374/blow-dry-trailer](url) it returns: No results

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3389857/com.plexapp.agents.phoenixadult.log)

[2019-07-14 18:18] claygoldfinch commented on #136
Pushed a bugfix on my fork that might help performance, I'll merge it in later today.

All the scenes you listed do actually work, just tested them on my setup. Again, this is just an example of how much the site sucks. Sometimes the agent is able to scrape them, other times it just won't. One place it especially seems to struggle is determining if the file is a scene or a movie. There are only tw

[2019-07-14 20:12] insickin commented on #136
Indeed, without updating the agent now finds the scene "DigitalPlayground - Blow Dry" perfectly...  Now I'm having trouble to get "DigitalPlayground - 50 Ways to Fuck" [https://www.digitalplayground.com/scene/4189421/trailer-for-50-ways-to-fuck](url) tagged... :man_facepalming:

[2019-07-14 23:23] insickin commented on #1
Can killergram.com be added?

[2019-07-15 01:08] d2dyno opened #282 "AssTraffic titles have extra spaces"
Matched scenes from 'AssTraffic' have extra spaces or tabs in the title field of Plex. This is particularly annoying because Plex sorts spaces above letters when viewing the library alphabetically. Example title:

![AwesomeScreenshot-Plex-2019-07-14-20-07-40](https://user-images.githubusercontent.com/2421939/61191755-943d3580-a673-11e9-8f66-3a3093f66804.png)

[2019-07-15 01:18] d2dyno opened #283 "Index out of range on some She's New scenes"
[code]
[code]
[code]
[code]

[2019-07-15 03:33] d2dyno opened #284 "Trim 'trailer' from SML titles"
Currently, due to improper naming on Babes' website, some StepMomLessons scenes include 'trailer' at the end of the scene title. So something like [Yoga Cockfight Trailer](https://www.babes.com/scene/3111531/yoga-cockfight-trailer). I am hoping there is a way to detect and remove this from the scenes where it exists.

[2019-07-15 03:36] d2dyno commented on #284
There is also, on rare occasion, 'SML- ' that prefixes a title. An example of that is here: [SML- Stepmommy Dearest
](https://www.babes.com/scene/4359451/sml-stepmommy-dearest)

[2019-07-15 04:54] d2dyno opened #285 "MassageRooms seems to be title search only now"
Tried multiple times to find scene by actor, with no results returned. Title search returns result right away. Assuming this isn't a bug, the sitelist should be updated to limited

[2019-07-15 05:50] d2dyno opened #286 "NuruMassage description contains <br/>"
NuruMassage scene matched descriptions contain multiple `<br/><br/>` statements, I am guessing where newline should be.

[2019-07-15 09:50] insickin opened #287 "DDFNetwork support"
I'm tying to tag "Ddfnetwork - X-Rated After Work Oral" but the agent gives "No matches"

I've tried:
Ddfnetwork - X-Rated After Work Oral
Ddfnetwork - X Rated After Work Oral
Ddfnetwork - Ella Hughes

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3391725/com.plexapp.agents.phoenixadult.log)

[2019-07-15 12:35] blackibanez commented on #287
site change, there is no release date in search page. To fix it, we must comment the line 13 and redefine "id" (line 23) whithout "releasedate"

[2019-07-15 15:06] Majawat commented on #1
FrolicMe - frolicme.com

[2019-07-15 17:33] claygoldfinch commented on #287
Resolved.

[2019-07-15 17:33] #287 closed

[2019-07-15 17:33] claygoldfinch commented on #284
Resolved.

[2019-07-15 17:33] #284 closed

[2019-07-15 17:34] claygoldfinch commented on #282
Resolved.

[2019-07-15 17:34] #282 closed

[2019-07-15 18:22] claygoldfinch commented on #285
Looks like all of the SexyHub subsites were listed under X-Art on the sitelist. SexyHub was already listed as "Limited - Title Only" so I just moved em over. Resolved.

[2019-07-15 18:22] #285 closed

[2019-07-15 18:54] claygoldfinch commented on #273
Resolved.

[2019-07-15 18:54] #273 closed

[2019-07-16 01:19] SgtBatten commented on #251
Actually managed to successfully rename DaneJones scenes based on the release date. This was a trial site and I will be expanding on this with more sites for sure.

Had to add a dependency though.

` pip install lxml`

[2019-07-16 18:44] claygoldfinch opened #289 "Blacked not scraping actor photos"
Example Scene: [The Big Fight](https://www.blacked.com/the-big-fight)

[2019-07-16 20:20] claygoldfinch commented on #283
The agent doesn't scrape info from the TeamSkeet search page, instead it opens each search result on the search page and scrapes info from there. This allows the agent to do two things: scrape full scene titles (as many on the search page are truncated), and utilize Date Match (dates are listed on each scene page, but not on the search page).

Sometimes the search results on the search page don't

[2019-07-16 20:20] #283 closed

[2019-07-16 20:38] claygoldfinch commented on #286
Nuru/FantasyMassage actually seem broken for me...

[code]

[2019-07-16 21:06] claygoldfinch commented on #247
I'm actually going to reopen this. I've merged in @kamuk90's search bugfix with PR #288 (as his PR still seemed like it was a WIP). However, I'm still having issues with pulling artwork. Will investigate further.

[code]

[2019-07-16 22:05] d2dyno commented on #286
Interesting, I just matched a ton of their scenes. Could be they started updating

[2019-07-17 03:25] SgtBatten commented on #251
Added a couple more sites now. this things gonna make my setup almost entirely automated now

[2019-07-17 08:00] d2dyno commented on #278
Almost definitely due to commas. I am having issues on this scene as well: https://www.mylf.com/movies/1677/suck-it-dry,-blue-eyes

Commas are not standardized urls, I am honestly curious how they are working for mylf.com

[2019-07-17 18:18] CuddleBear92 commented on #251
Sounds good, will have to take a look at these changes. Still need a bit of manual handling on my part so far since i am crushing the files with hevc.

I could have this pretty much all automated if i had res and framerate exportable in the folder names so i can sort into individual folders for certain quality releases.

Do find that much of the older renamer needed much manual touchup for Plex ma

[2019-07-17 18:28] CuddleBear92 commented on #1
hanime is not a great source for metadata at all. If one where to scrape metadata for Animated 2D Hentai like it has, AniDB.net would be the best option around.
But you already have a ton of options for that! But that site also mostly uses hash values to identify the file which is flawless, something downloading a video stream off a public site isn't.

Shoko Anime, Hama and more covers that site a

[2019-07-18 00:52] SgtBatten commented on #251
@CuddleBear92 It was surprisingly easy to implement.

Current commit as of this post adds Resolution and fps to the file and to the folder name. So you dont need to specify he resolution in the siteList section it will append it to the end of whatever root folder structure you have created.

so if you have `siteList[0] = ["Babes", "New", "New\Babes"]`
you will end up with folders like
`New\Babes 1

[2019-07-18 03:47] HWatBobby opened #290 "Nubiles Match Issues"
Found an issue pulling data from Nubiles-Porn sites. Seeing issue with Bratty Sis, Moms Teach Sex, My Family Pies, PetiteHD, Princess Cum, and Step Siblings Caught. Didn't see any issues regarding this within the past 3 weeks. This issue occurs with every Nubiles scene I search for (old & new).

One video with an issue is Bratty Sis - Caught Sneaking Out @ https://brattysis.com/video/watch/46308

[2019-07-18 05:33] SgtBatten commented on #290
They started rolling out network wide changes yesterday. working on it

[2019-07-18 06:31] SgtBatten commented on #290
Please try #291

I was unable to test every site. Ran out of time.

[2019-07-18 10:28] d2dyno commented on #248
Just checking in, any updates on this? just noticed the issue as well.

[2019-07-18 11:10] HWatBobby commented on #290
@SgtBatten
Looks like it worked. Tested on Bratty Sis, Moms Teach Sex, My Family Pies, PetiteHD, Princess Cum, and Step Siblings Caught. All found the videos in the search with just a couple minor inconveniences. Step Siblings Caught required the search term to be stepsiblingscaught, wouldn't match with spaces, to find a match. All pulled metadata, images and moved scenes to the proper collections

[2019-07-18 11:48] SgtBatten commented on #290
My understanding has always been no spaces. I didn't know it was even possible with spaces so there you go.  My guess is step siblings caught doesn't work due to a conflict with step siblings (different)

My changes didn't alter anything to do with that. It was all just xpath changes. Still some more work required but mostly sorted.

[2019-07-18 21:43] SgtBatten commented on #290
I'll look into bratty sis today

[2019-07-19 00:21] SgtBatten commented on #290
Bratty Sis is fixed in #291 now

testing other sites

[2019-07-19 05:40] HWatBobby commented on #290
It looks like it's working for all the videos I have. No issues with any of the matches. Awesome work!

[2019-07-19 06:44] d2dyno commented on #265
Looking forward to this being updated as well.

[2019-07-19 19:31] #290 closed

[2019-07-20 09:50] d2dyno opened #293 "LetsTryAnal not matching with sceneid"
Not sure the exact issue, but I believe maybe LTA wasn't converted with the rest of mofos to new sceneID system:

[code]

[2019-07-20 10:40] d2dyno opened #294 "LoveHerFeet site search seems broken"
Maybe should be switched to direct URL, unless someone figures out why their internal search doesn't work.

[2019-07-20 11:21] d2dyno opened #295 "MonsterCurves list index out of range"
[code]

[2019-07-20 11:22] #295 closed

[2019-07-20 11:22] d2dyno commented on #295
Nevermind, was using wrong shorthand

[2019-07-20 19:52] qbicstar commented on #293
PublicPickups.com isn't working with a scene id either

[2019-07-20 22:16] kamuk90 commented on #289
fixed in #296

[code]

[2019-07-20 23:23] dismethis commented on #1
elegantangel.com
sindrive.com
bamvisions.com
brokenteens.com
reidmylips.com
pinkoclub.com
pimp.xxx
rodneymoore.com
jamesdeen.com

[2019-07-21 00:02] d2dyno commented on #1
Last one is already supported: https://github.com/PAhelper/PhoenixAdult.bundle/blob/master/docs/sitelist.md#girlsway--matching-type-enhanced

[2019-07-21 16:03] #249 closed

[2019-07-22 05:41] d2dyno opened #299 "Get images for DadCrush"
Currently, DadCrush scraping does not grab any available images for scenes. There are 4 images we can potentially make use of:

3 - main screen 'scroll images'. These use `01-03` on a url, that contains just the actor name, which is after scene ID. for example:
`https://images.psmcdn.net/design/tour/dc/tour/pics/emma_starletto_and_mazzy_grace/hovers/01.jpg`
for the scene:
`https://www.dadcrush.com

[2019-07-22 13:06] insickin commented on #289
Does this also fix the same problem in Vixen and Deeper scenes?

[2019-07-22 13:10] insickin opened #300 "TeamSkeet Network not filling"
Like the title say's: I'm tying to add a TeamSkeet Network scene (TeamSkeet - Dirty Hours In The Shower / https://www.teamskeet.com/t1/trailer/view/dirty_hours_in_the_shower/lena_paul2?type=low_res&trailer=b ) The agent finds it but doesn't populate any thing.

[2019-07-22 13:31] insickin commented on #1
Can http://www.clubfilly.com/home.php be added?

[2019-07-22 16:32] kamuk90 commented on #247
fixed in  #296

[2019-07-22 16:56] kamuk90 commented on #289
Vixen and Deeper actor photos works well

[code]
[code]

[2019-07-22 18:54] kamuk90 commented on #300
Fixed in #296
Pls can you update and try to test this fix

[2019-07-22 19:01] insickin commented on #278
Is there any progress with this?

[2019-07-22 19:02] kamuk90 commented on #300
the site doesn't contain posters

[2019-07-22 19:04] insickin commented on #248
Any updates?

[2019-07-22 20:15] insickin opened #301 "Clips4Sale cast/actors"
I'm adding a Clips4Sale scene, it works but it takes the name of the studio as actors instead of the real actors, can this be changed or is this fixed?

Thanks for all the hard work!

[2019-07-23 02:45] d2dyno opened #302 "Improve HouseofTaboo search"
Currently, date is not supported, though date is listed on the search results page. In addition, many scenes will fail in the agent, such as `Houseoftaboo The Dark Room Dominator` for https://houseoftaboo.com/videos/the+dark+room+dominator/21974

[2019-07-23 03:50] SgtBatten commented on #301
Just took a quick look at this.

A manual database would need to be created of all possible actors.

The site does not list actors names from the few scenes i checked out, so pretty much not going to be done except by people who want to do their own pull requests to correct the scenes they want to match.

Someone has done a part of one already. but there must be hundreds missing. You can use it as

[2019-07-23 05:25] SgtBatten commented on #293
@d2dyno fixed LTA in #303

[2019-07-23 05:40] SgtBatten commented on #293
To further clarify this is the code: ```sceneID = encodedTitle.split('%20', 1)[0]```

You are providing ```Letstryanal%204352240/tight%20and%20horny```

It splits using the spaces ```%20```

[2019-07-23 05:41] SgtBatten commented on #293
@qbicstar most likely this is why yours are failing also.

[2019-07-23 06:21] SgtBatten commented on #293
I did however note that some scenes just fail over and over again and eventually get a match. No idea why, i did experiment with adding a sleep delay to the functions but it was not 100% reliable either way.

[2019-07-23 06:51] d2dyno commented on #293
I've noticed that as well @SgtBatten I think it may be simple rate limiting.

[2019-07-23 07:32] SgtBatten commented on #293
Hmm yes could be rate limiting indeed

[2019-07-23 11:20] insickin commented on #301
Ah thanks, Coincidentally my scene has actor info but I see that it is impossible to check this for the entire site!

[2019-07-23 11:21] #301 closed

[2019-07-23 11:32] kamuk90 commented on #302
Please attach the log file

[2019-07-23 21:23] SgtBatten commented on #301
@insickin if there is actor info we can make some code changes to help with those scenes. I just didn't find any so didn't think there was.

[2019-07-24 01:36] d2dyno opened #304 "Do not create collection for each NuruMassage scene"
Currently, my Plex server 'collections' section is filled with collections, that contains only one scene, for nearly every NuruMassage scene. For a random example, the scene `The Switch - A - Roo`, has a parent collection called `Alex And Cruz`, of which it is the only scene. There are hundreds just like this that I think I will manually have to remove from my server, but perhaps the agent can be

[2019-07-24 02:14] d2dyno commented on #302
Excellent work! Is the score being increased when the date matches date of search? For example, a scene with the exact date of my search, has a score of 81. Just a nitpick.

Also, it seems that the search only uses the first date, for all results. For example in this search, the second scene is actually [2018-06-31](https://houseoftaboo.com/videos/early+morning+bondage+desires/21842)
![AwesomeScre

[2019-07-24 02:26] d2dyno commented on #300
hmm, I tried to match an exxxtra small scene and got this error
[code]

[2019-07-24 02:32] SgtBatten commented on #304
Please test #305

Some people might want it so left it as a draft. Fixes all the sites you lsited

[2019-07-24 10:46] kamuk90 commented on #300
Try to find now pls

[2019-07-24 10:49] kamuk90 commented on #302
my bad, please can u update last fork and try again pls

[2019-07-24 12:14] Artemis-Lunanite opened #307 "TeamSkeet Problem With Actor and "and""
On line 81 of siteTeamSkeet.py you're splitting the actors on just the word "and". This is causing problems with certain actors like Lexi Bandera. Her name gets cut in half because it contains "and".

[2019-07-24 12:19] kamuk90 commented on #307
#296 try this fork

[2019-07-24 19:51] tanman1987 opened #308 "Blacked search not working"
It seems that the plugin is getting an HTTP 403 error when processing a video for Blacked

[log.txt](https://github.com/PAhelper/PhoenixAdult.bundle/files/3428541/log.txt)

[2019-07-24 20:34] PAQuestions opened #309 "Refreshing Metadata Not Working"
A couple hours ago I started having this problem. I tried searching around but couldn’t find anything like it.

I’ve been adding content for my adult collection using the PhoenixAdult agent, and all was working great. Now however my Refresh Metadata button doesn’t seem to be working. Like working at all, when I click the button no spinning circle starts, nothing changes in my logs, it’s almost lik

[2019-07-24 20:38] claygoldfinch commented on #308
Can you access this on the machine your plex server is running on?

https://www.blacked.com/my-day-with-mr-m

[2019-07-24 21:00] claygoldfinch commented on #309
Can you upload or post a log file after you manually match a film?

[2019-07-24 21:22] PAQuestions commented on #309
Sure, here are the log for the plugin and media scanner. Let me know if you need anything else.
[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3428801/com.plexapp.agents.phoenixadult.log)
[Plex Media Scanner.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3428802/Plex.Media.Scanner.log)

[2019-07-24 21:50] tanman1987 commented on #308
Yes, but first I have to click through a Captcha. I tried on another machine, and I do not have to click through a Captcha. The machine running plex is behind a VPN, so that's probably why that's happening. I think it's fair to say that this is my problem and not the plugin's. Thanks.

[2019-07-24 22:00] tanman1987 commented on #309
I think I may be experiencing something similar. After I click through to fix the match, it seems that all that happens is a change to the title.
[log.txt](https://github.com/PAhelper/PhoenixAdult.bundle/files/3428901/log.txt)

[2019-07-25 01:22] SgtBatten commented on #309
@PAQuestions your auto match example is a case of bad filename

Exxxtra small 2017-05-11 Throw Me Around Baby

should be Exxxtra small 2017-05-11 Throw Me Around Baby hence your manual matching works.

Ill look into teamskeet today Someone already has an issue open for Teamskeet #300

[2019-07-25 01:41] #308 closed

[2019-07-25 02:19] d2dyno commented on #148
This seems to be a Plex issue FYI. I experience this often, unfortunately. If you restart PMS, it will no longer do this when changing art. The downside is, you have to flush cache, change image for scenes with black poster, then change back to the poster you wanted. For this reason, it's usually best to restart PMS before working on metadata for matched scenes.

[2019-07-25 02:25] d2dyno commented on #304
It's good of you to think about others :stuck_out_tongue: In my mind, no one wants 1300 'collections' on their collections page, when they really only have maybe 300-400. In my opinion, the 1 scene collections are a bug, not a feature haha.

[2019-07-25 03:03] SgtBatten commented on #304
Yeah right, I dont use any sites which do this so i guess i have not seen the issue. I have less than 80 collections easily. so im definitely agreeing with you

[2019-07-25 03:09] claygoldfinch commented on #307
Resolved.

[2019-07-25 03:09] #307 closed

[2019-07-25 03:11] claygoldfinch commented on #309
Agree with both things @SgtBatten posted:
@PAQuestions - Naming Issue
@tanman1987 - Duplicate Issue

Closing with my latest PR.

[2019-07-25 03:11] #309 closed

[2019-07-25 03:14] claygoldfinch commented on #300
Resolved.

[2019-07-25 03:14] #300 closed

[2019-07-25 03:18] claygoldfinch commented on #294
What scenes are you running into issues with?

[2019-07-25 04:21] SgtBatten commented on #300
@claygoldfinch I just added one more part.

I was working on this too but you beat me to it. I had success finding extra posters and included it straight to master now

[2019-07-25 04:24] d2dyno commented on #294
Sorry, I think I was too general to assume because some scenes still matched. These 4 do not, either by actor or scene title search.

[code]

[code]

[code]
[code]

[2019-07-25 04:28] claygoldfinch commented on #304
Agree with you for the most part, but I think we may need to take a closer look at which sites should and shouldn't be scraped for "DVD names" before removing them completely.

For example:

NetworkGamma:
- Nuru/Fantasy Massage, Girlsway, 21Naturals sites probably shouldn't be scraped for DVD names (as they aren't listed anywhere but in the site code)
- EvilAngel and XEmpire should be scraped for

[2019-07-25 04:42] SgtBatten commented on #304
Yeah fair enough. As a none user of these sites it's hard to know what peoples collections end up like or what is desired.

The PR gets rid of them completely. Could be done as a list and if the sub site is in list A don't include it.

I'm guessing though that plenty of sub sites have individual titles that are multi-scene and others that are not

[2019-07-25 04:49] SgtBatten commented on #294
None of these exist on the site. the date has no scene associated with it but i can see on the torrent scene that they did exist on those dates at some point.

copyright issues? actresses pulled the rights or something maybe?

[2019-07-25 04:51] claygoldfinch commented on #304
Agreed, I think the list method is the best way to go.

There are so many subsites under the NetworkGamma umbrella, it makes it difficult to make changes to a single site without affecting all the sites. I've been playing around with splitting up some of these big networks into smaller, more manageable pieces when major site redesigns occur (ie. [Evil Angel](https://github.com/PAhelper/PhoenixAdul

[2019-07-25 04:57] d2dyno commented on #294
Huh, I hadn't checked them on-site yet, thanks for the information! I've in the past seen 1 scene or maybe 2 max from an entire site be unavailable, just hadn't considered all 4 would be taken down.

Closing this issue then.

[2019-07-25 04:57] #294 closed

[2019-07-25 14:37] insickin opened #313 "teamskeet No actress info"
After seeing that the latest update fixed Teamskeet I got to tag a scene from them, all fills except the photo/name of the actress.

The scene is: teamskeet - Dirty Hours In The Shower
[https://www.teamskeet.com/t1/trailer/view/dirty_hours_in_the_shower/lena_paul2?type=low_res&trailer=b](url)

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3432054/com.p

[2019-07-25 17:39] insickin opened #314 "New Sensations support"
I'm trying to tag my New Sensations DVD's but the agent only (can) find loose scene's, is it possible that full DVD releases can be supported? Or is this a work in progress?

[https://github.com/PAhelper/PhoenixAdult.bundle/issues/104](url)
[https://github.com/PAhelper/PhoenixAdult.bundle/issues/218](url)

[2019-07-25 19:37] d2dyno commented on #314
It may be helpful to have an example of what DVD you want to match. Also for some reason GitHub won't load the issue links for me.

[2019-07-25 19:53] insickin commented on #314
Oke, I think that its with all of them but for example:

Newsensations - Almost Relatives
[https://newsensations.com/tour_ns/dvds/AlmostRelatives.html](url)

It shows the 4 scenes that are listed on the site but not the full DVD release.

I'm using:
newsensations - AlmostRelatives as the search term.

[2019-07-25 21:16] helloman123669 commented on #1
Could you add https://www.r18.com/ please
Thanks in advance

[2019-07-25 22:50] SgtBatten commented on #313
Hmm works for me. Ill compare my code to the master

[2019-07-25 22:57] claygoldfinch commented on #313
Looks to be an issue with PAExtras

[2019-07-25 23:01] SgtBatten commented on #313
fixed that just now.

[2019-07-26 01:30] d2dyno opened #316 "Odd behavior on automatch of some spizoo scenes"
I am not even sure if this is an 'agent' bug, but on some spizoo scenes I had scanned in recently, there were all lowercase titles, with a description that just says 'this video is about xyz'. None of them are actually matched (as Plex shows 'match' instead of 'fix match'), so I am not sure where they are pulling this information from. Attaching a screenshot (blurred to make sfw), and xml of one o

[2019-07-26 01:36] SgtBatten commented on #316
depending on how you order the agents in your plex server its coming from the metadata in the file itself or from the folder/file name

[2019-07-26 01:42] d2dyno commented on #316
Do I need to disable local altogether?
![AwesomeScreenshot-Plex-2019-07-25-20-07-93](https://user-images.githubusercontent.com/2421939/61919780-bb6def80-af1c-11e9-88d6-05d9fdfd85c4.png)

[2019-07-26 02:02] SgtBatten commented on #316
I think that may result in the file or folder name being used. But i'm not 100%

[2019-07-26 02:12] d2dyno commented on #148
[code]

This just happened to me and I thought to grab logs from the main `Plex Media Server.log`

[2019-07-26 02:22] SgtBatten commented on #265
#317 Please review/test

[2019-07-26 09:22] d2dyno opened #318 "Pervmom Name or service not known"
[code]

[2019-07-26 09:45] d2dyno opened #319 "Publicpickups fails to load match"
As mentioned [here](https://github.com/PAhelper/PhoenixAdult.bundle/issues/293#issuecomment-513494588), publicpickups doesn't seem to be working, tested on this scene: https://www.mofos.com/scene/4350950/cant-dickline-cash

[code]

[2019-07-26 10:42] SgtBatten commented on #319
This is one of those weird ones with mofos and fakehub now also.

Go away and work on other content. Come back later and this will work

[2019-07-26 16:46] claygoldfinch commented on #319
Plex likes to cache websites and then scrape that cache for any further requests, so it doesn't repeatedly hit the live site with requests:

`Fetching 'https://www.mofos.com/scene/4350950/1' from the HTTP cache`

This causes issues when the site fails to load correctly, which seems to happen quite a bit with sites with layouts like Mofos. The Plex Dance or restarting Plex Media Server doing should

[2019-07-26 16:46] #319 closed

[2019-07-26 17:40] claygoldfinch commented on #316
https://support.plex.tv/articles/200220677-local-media-assets-movies/

My guess is that all that info is being pulled from metadata. I occassionally get weird file names and even actors added to unmatched files due to file metadata. Disabling Local Media Assets should prevent that from happening.

[2019-07-26 17:42] #313 closed

[2019-07-26 17:48] claygoldfinch commented on #318
PervMom is DirectURL only - you gotta search for PervMom - /931/stepmom-hugs-and-jugs/nina-elle2.

I think PervMom works a little differently than most DirectURL sites in that you do have to add the extra forward-slash at the beginning of the title? That can be easily changed, if it is the case.

PervMom could honestly be converted to SceneID only, https://www.pervmom.com/931/1/1 works just as wel

[2019-07-26 22:16] d2dyno commented on #318
You are quite right, that was the issue. If you are going to convert it let me know, else I will add a subtitle/note to the sitelist.md that this needs a prefix slash.

[2019-07-26 23:22] SgtBatten commented on #318
Try #321

fixed the slash issue i believe and also added sceneID matching.

[2019-07-27 03:03] #265 closed

[2019-07-27 03:10] SgtBatten commented on #318
@d2dyno sorry does the thumbs up mean you tested it? Happy to push it if you did

[2019-07-27 04:52] SgtBatten commented on #236
Are you guys collecting image sets from third party sites if the original site does not have it.

I've had resonable success with the PAextras script but I have it fine tuned for the content I want.

[2019-07-28 02:48] d2dyno opened #323 "SisLovesMe has 6 duplicate images for posters"
As said in title, matching SisLovesMe has 6 of the same images in main poster selection screen.

[2019-07-28 04:20] SgtBatten commented on #323
Only for some scenes. It depends on two things.

If we cannot find any fanart image sets it will try to add any bio pics on sislovesme as a backup.

For some actresses that have more scenes there is variety in these 6 images. For actresses with only 1 or two scenes there will definitely be some repetition. I can investigate if there is any that will always give a duplicate and set them to only get

[2019-07-28 06:25] d2dyno opened #324 "PublicAgent IndexError: list index out of range"
[code]

[2019-07-28 10:36] insickin opened #325 "ManyVids support"
I'm trying to tag a ManyVids scene but it fails.
The scene that I'm trying to tag is: ManyVids - Tuesday Night Orgy (https://www.manyvids.com/Video/851036/tuesday-night-orgy/)

I'm using the search term:
ManyVids - 851036

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3439065/com.plexapp.agents.phoenixadult.log)

In the log I'm seeing:
URLError: <urlop

[2019-07-28 22:06] SgtBatten commented on #324
Working fine for me. I think it might be related to the same cache issue clay mentioned in #319

try again and see how it goes

[2019-07-28 23:21] SgtBatten commented on #323
Fixed

[2019-07-28 23:21] #323 closed

[2019-07-29 02:21] #318 closed

[2019-07-29 18:57] CuddleBear92 commented on #1
http://www.javlibrary.com/en/ for a global jav support. Just let it match with the global JAV ID. It should be on top of the JAV matching in general compared to other sites like r18 as r18 is pretty shit, that should be low on the list.

[2019-07-30 00:59] d2dyno commented on #248
@SgtBatten want to take a crack at this?

[2019-07-30 02:01] d2dyno opened #327 "Newsensations: Date not being used"
Both for Date add, or from Newsensations site, date is being discarded (and thus shows up in Plex as bogus date of 1900-01-01). The data is there though, both in my search terms, and from newsensations it seems:

[code]

[2019-07-30 14:05] HWatBobby opened #328 "DaughterSwap Site Update"
I'm not seeing DaughterSwap in the supported sites list, but I do see it listed in the PAsearchSites.py file and I do see the siteDaughterSwap.py file. If it is actually supposed to be supported the site may have had an update.

https://www.daughterswap.com/25/graduation/layla-london-and-nicole-bexley

[code]

[2019-07-30 15:40] claygoldfinch commented on #328
Don't think DaughterSwap was ever officially added, as it's not referenced in PAsearchSites.py. Maybe have just been @PAhelper playing around with some code.

[2019-07-30 17:47] HWatBobby commented on #328
Ah OK. Wasn't quite sure. I do see it in the Requested Sites list, though. I'll just wait for that site to be supported then.

[2019-07-30 17:47] #328 closed

[2019-07-30 18:29] #324 closed

[2019-07-31 02:27] d2dyno opened #329 "Sexyhub has changed to new site layout"
Sexyhub has adopted the layout of mofos, babes, etc. Search no longer possible.

[2019-07-31 15:50] raedwulf83 commented on #325
Should be a Linux issue
works for me on a Windows Plex Server, not on my Synology

[2019-07-31 16:00] insickin commented on #325
Ah, thanks for the info, that's too bad...

[2019-07-31 16:08] insickin commented on #278
Can this be fixed?

[2019-07-31 19:34] insickin opened #330 "BellaPass support"
I'm trying to tag BellaPass - After the Date (solo)
but the agent doesn't find the scene.

I've searched with:
BellaPass - After the Date (solo)
BellaPass - After the Date
Bryci - After the Date (solo)
Bryci - After the Date

All of these combos come back with: no results found.

[2019-07-31 20:02] insickin opened #331 "Karups support"
I'm trying to tag: Karups - Sinn Sage Amber Rayne
https://www.karups.com/video/sinn-sage-amber-rayne-53297.html

But it returns with: Nothing found whatever combo i do.

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3456515/com.plexapp.agents.phoenixadult.log)

[2019-07-31 22:09] SgtBatten commented on #330
Please include the relevant log portion.

It provides several bits of information including which file is causing the error, siteID number, which python file to look in etc

[2019-07-31 23:11] josst10 opened #332 "Custom Actress Override on Plug-in Update"
Could the PAactors.py file be changed to pull in custom info from another python file locally that users can update with our own custom changes and that file not be updated?

For instance, I can append this to the end of the file (PAactors.py) and it works great but on a plug-in update, it gets overwritten (obvi).

        if metadata.studio == "insert studio name like f**kedhard18":
            i

[2019-07-31 23:20] SgtBatten commented on #332
Crete a pull request with all your changes and we can add it to the permanent file. That is kinda what we're doing here. Collectively creating this agent

[2019-08-01 02:09] josst10 commented on #332
Thanks man. So what is the standard we're using. Apologies if I am asking something already discussed.

[2019-08-01 02:24] d2dyno opened #333 "TeensLoveHugeCocks has been updated to new site layout"
Same as Mofos/Babes/etc

[2019-08-01 03:16] SgtBatten commented on #332
What you want to achieve is to standardise the names so that if a site uses an abbreviated name, or first name only, we change it to the full name so it matches all the other sites.

Your example seems good

[2019-08-01 05:07] SgtBatten commented on #329
#334 Fixes it except for no posters currently

[2019-08-01 07:22] d2dyno opened #335 "RealityKings has updated it's site layout"
Using same layout as Mofos/Babes/etc. Needs to be converted to SceneID only.

[2019-08-01 07:39] d2dyno opened #336 "KellyMadison Broken"
[code]

[2019-08-01 11:53] insickin commented on #330
Oh my bad, I I thought I added it...

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3456503/com.plexapp.agents.phoenixadult.log)

[2019-08-01 14:29] claygoldfinch commented on #332
@josst10 www.indexxx.com is a good place to check for standardized names.

[2019-08-01 15:56] insickin opened #337 "Twistys Support"
I am trying to tag: Twistys - Fix Her, Up Her but the agent can't find the scene.
I've tried searching with:
Twistys - Fix Her, Up Her
Twistys - 3406841

I've restarted my Plex server.

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3457604/com.plexapp.agents.phoenixadult.log)

[2019-08-01 17:37] josst10 commented on #332
Is that the agreed upon standard? I know this is minor but it would be helpful to understand a little better. For instance, in PAactors.py, under the blanket name change

"##### Replace by actor name; for actors that have different aliases in the industry"

we have;

[code]
But then under X-Art, we have;

[code]
Indexxx shows Anjelica and IAFD shows Abbie but I think the most definitive is Krystal

[2019-08-01 21:16] SgtBatten commented on #293
Closed due to it working with correct filenames

[2019-08-01 21:16] #293 closed

[2019-08-01 22:05] claygoldfinch commented on #332
I generally prefer indexxx due to the way they organize their site. When you go to an actresses page, you can very easily see what their name was not only on particular sites, but also on the subsites of each site. Also, you can see how many scenes each actress participated in for each site/subsite.

If you visit the profile for a site/subsite, you can quickly identify many of the actresses that h

[2019-08-01 22:08] claygoldfinch commented on #325
Yep, appears to be a Linux issue. I'll tag it and close this issue.

Issue #64

[2019-08-01 22:08] #325 closed

[2019-08-01 22:10] claygoldfinch commented on #335
Both are under the Reality Kings portfolio, so going to close this and leave the Reality Kings issue open.

[2019-08-01 22:11] #136 closed

[2019-08-01 22:29] d2dyno commented on #335
@claygoldfinch did you close the correct one? Did I not see another reality Kings issue?

[2019-08-01 22:33] claygoldfinch commented on #335
Oops, wrong one haha. Reopening and closing #333.

[2019-08-01 22:34] claygoldfinch commented on #333
In the Reality Kings portfolio, going to close this and leave the Reality Kings issue open.

[2019-08-01 22:34] #333 closed

[2019-08-02 00:10] SgtBatten commented on #329
poster fixed now also

[2019-08-02 01:48] SgtBatten commented on #335
#338

[2019-08-02 02:17] d2dyno commented on #337
remove the dash. Tested just now and it worked as `Twistys 3406841`

[2019-08-02 02:25] d2dyno opened #339 "EuroTeenErotica Index out of range"
[code]

[2019-08-02 02:29] d2dyno commented on #331
You need to search with the correct subsite. In this case, that is `karupsha`. Additionally, you should only put 1 actor name into the search, so as not to confuse the search. I successfully searched using `karupsha amber rayne` for example.

[2019-08-02 02:32] d2dyno commented on #330
When I run the bellapass search, I get an index out of range:
[code]

similarly for Bryci:
[code]

[2019-08-02 02:58] acelrod opened #340 "LegalPorno no longer pulling thunbs, actors, genres, etc."
I just noticed I can no longer get movie details from LegalPorno movies... Log below:

[code]

[2019-08-02 14:17] insickin commented on #331
Aha, that helped! I tried it with 1 actor but it didn't work (Karups - Amber Rayne) than I tried it with karupsha - Amber Rayne and it worked.

I thought that because there is only Karups in the list (https://github.com/PAhelper/PhoenixAdult.bundle/blob/master/docs/sitelist.md) I had to use "karups -", ​​learned something again!

[2019-08-02 14:17] #331 closed

[2019-08-04 20:06] insickin commented on #1
Can https://www.uralesbian.com be added?

[2019-08-06 01:57] acelrod commented on #340
Ok, seems to be working right again now.

[2019-08-06 01:57] #340 closed

[2019-08-06 05:21] dkmontague opened #342 "VPN Cause Issues?"
Wondering if using a VPN can cause issues here.  I installed per your instructions on Windows 10 but no results are being returned. Strangely, yesterday it was working for a short while.  Do you have any troubleshooting tips?

[2019-08-06 07:52] d2dyno opened #344 "URLError on CzechAV site"
[code]

[2019-08-06 08:02] d2dyno opened #345 "Out of range loading DDF metadata"
[code]

[2019-08-06 08:23] Elerako opened #346 "Lansky site not pulling date tag and actors"
Since this morning the agent doesn't pull anything except title , studio, tagline and description.

[code]

[2019-08-06 08:26] claygoldfinch commented on #342
Log?

Here's the only issue I've seen regarding VPNs:
https://github.com/PAhelper/PhoenixAdult.bundle/issues/308

[2019-08-06 08:27] claygoldfinch commented on #344
The scene, for anyone looking to troubleshoot this:
https://czechwifeswap.com/tour/search/?q=CZECH+WIFE+SWAP+2%2F1+%28100%25+Czech+tits%29

[2019-08-06 14:11] insickin commented on #337
I tried it with Twistys - 3406841 but it still finds nothing!

[2019-08-06 15:50] insickin opened #347 "Girlfriends Films Broken"
I am trying to add my Girlfriends Films collection but the agent finds nothing.

I have tried searching with:
GirlfriendsFilms - sceneID
GirlfriendsFilms - Actor name
GirlfriendsFilms - Scene/DVD name

Nothing works!

Example:
GirlfriendsFilms - Newswomen 4 - scene 1 tried with:
GirlfriendsFilms - 134608
GirlfriendsFilms - Prinzzess or Penny Pax
GirlfriendsFilms - Newswomen 4

Many films / scenes

[2019-08-07 20:14] kamuk90 opened #348 "scraperapi for get html from javascript generated pages"
Now I working for new way of scraping metadata, we can use this api for all sites
1 acc get 1000 requests per 1 month for free

@claygoldfinch
@SgtBatten
@PAhelper

[2019-08-07 23:01] #335 closed

[2019-08-07 23:02] #329 closed

[2019-08-08 04:55] dkmontague commented on #342
[com.plexapp.agents.localmedia.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3479879/com.plexapp.agents.localmedia.log)

[2019-08-08 05:02] dkmontague commented on #342
[com.plexapp.system.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3479901/com.plexapp.system.log)

[2019-08-08 06:37] Duglim commented on #346
Scraper for Lansky sites also does not pull categories and pictures anymore.

[2019-08-08 07:40] dkmontague commented on #342
[com.plexapp.agents.localmedia.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3480429/com.plexapp.agents.localmedia.log)

I made sure the files were named appropriately.  Example: Blacked - 2014-12-31 - Actress

[2019-08-08 12:25] ferengi82 opened #349 "sexyhub"
hi, i tried the new sexyhub code, but it doesn't work for me.

im searching for **Massagerooms 4353457/amazing-natural-tits-babe-gets-oily**
=> no match

`2019-08-08 14:17:56,915 (7f18f37fe700) :  INFO (PAsearchSites:1088) - ^^^^^^^ siteID: 338
2019-08-08 14:17:56,915 (7f18f37fe700) :  INFO (PAsearchSites:1090) - ^^^^^^^ Shortening Title
2019-08-08 14:17:56,915 (7f18f37fe700) :  INFO (PAsearchSite

[2019-08-08 12:40] SgtBatten commented on #349
It's because your filename does not match the expected format as per the instructions.

I suppose adding your suggestions doesn't hurt anyone else but the filename should be
Massagerooms 4353457 amazing natural tits babe gets oily.

Or really Massagerooms 4353457 is enough.

[2019-08-08 12:52] ferengi82 commented on #349
ah ok,
it was my first video with sceneid, until no i had luck and get away with actor / title search.

[2019-08-08 12:52] #349 closed

[2019-08-08 13:55] kamuk90 commented on #348
for example, tested on brazzers, works well (didn't have IPS block)

[code]

[2019-08-08 23:20] claygoldfinch commented on #342
Unfortunately the localmedia log doesn't tell us too much - you'll have the grab the PhoenixAdult log. Should be available at:
```%LOCALAPPDATA%\Plex Media Server\Logs\PMS Plugin Logs\com.plexapp.agents.phoenixadult.txt```

[2019-08-09 00:10] dkmontague commented on #342
[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3484122/com.plexapp.agents.phoenixadult.log)

Sorry about that!  Here is the correct log file.  It worked today when re-adding so I think it is OK as far as connectivity.  It may have been too many queries in short amount of time.

An unrelated thing I noticed, however, was that only 330/350 movies were loa

[2019-08-09 08:31] ferengi82 opened #351 "litte xpath help"
i'm adding clubseventeen, the metadata is working, but i have a problem with the poster image:

examplesite: https://www.clubseventeen.com/video.php?slug=all_inside_the_family_ep5_morning_breakfast_ends_up_with_pussy_eating

my code: twitterBG = detailsPageElements.xpath('//div[@class="ratio-16-9 video-item static-item progressive-load loaded"]')[0].get('data-image')

what am I doing wrong ?

the

[2019-08-09 08:37] kamuk90 commented on #351
you looking JS generated div
this code will work fine
[code]

[2019-08-09 08:39] kamuk90 commented on #351
Just disable javascript in you browser and look html code

[2019-08-09 08:59] ferengi82 commented on #351
looks good, thank you

[2019-08-09 08:59] #351 closed

[2019-08-09 18:25] #289 closed

[2019-08-09 18:26] #346 closed

[2019-08-09 18:26] claygoldfinch commented on #342
Most of these seem related to issues with the Strike3 Network (Blacked, Tushy, etc). Those should all be resolved with my latest PR.

Do you have any specific examples of files that were labeled as duplicates?

[2019-08-09 20:56] chonka1 commented on #248
Is this one still broken?

[2019-08-10 13:15] insickin opened #356 "Fitting Room no cast info/photo"
I am tagging Fitting Room - Alexis Crystal - Pool Table and it's tagging except for the cast info/photo, can someone take a look at what is going wrong? It worked until yesterday.
It doesn't seem to load a poster (all the other scenes have the poster with Fitting-Room in the left bottom corner) and background.

https://www.fitting-room.com/videos/189/alexis-crystal-pool-table/
[com.plexapp.agents.

[2019-08-10 13:54] insickin opened #357 "NubilesNET scene description"
I see that on https://nubiles.net/ there is a scene description present but the agent doesn't tag it can this be changed?

For example:
https://nubiles.net/video/watch/81637/dripping-wet has a description.

[2019-08-10 13:58] insickin commented on #1
Can https://www.yanks.com/ be added?

[2019-08-10 16:16] Elerako commented on #346
There is still a problem with at least Deeper and Vixen: no tag, actor, director or pictures
`2019-08-10 18:11:53,390 (700007a8e000) :  INFO (__init__:1007) - ******UPDATE CALLED*******
2019-08-10 18:11:53,391 (700007a8e000) :  INFO (__init__:1010) - 671
2019-08-10 18:11:53,393 (700007a8e000) :  DEBUG (networking:166) - Requesting 'https://www.deeper.com/i-want-to-taste-me-on-your-fingers'
2019-08

[2019-08-10 19:08] chktlm commented on #1
I would greatly appreciate if www.ztod.com was added. This is Zero Tolerence's download site.

[2019-08-10 20:40] #356 closed

[2019-08-10 21:49] claygoldfinch commented on #344
Easiest solution here would probably be to update your search term to "100 Czech Tits".

[2019-08-10 22:08] claygoldfinch commented on #337
Tried it myself and was still running into issues after multiple server restarts. My latest PR creates an exception for that one scene, give it a shot.

[2019-08-10 22:09] #316 closed

[2019-08-11 05:11] allegedschool opened #361 "SexArt Metadata not pulling..."
Hello!
Metadata from SexArt is not pulling. I've tried many different naming conventions. Weird thing is that MetArt Metadata pulls just fine from download file title...
Some examples of naming conventions I tried....
- SexArt_mango_girls-love-sex
- sexart - 123farenheit
- SexArt Luna
- Draw-Me_SexArt

What am I doing wrong? Thank you!

[2019-08-11 13:53] Elerako opened #362 "Deeper and Vixen list index out of range"
There is still a problem with at least Deeper and Vixen: no tag, actor, director or pictures

[code]

[2019-08-11 15:05] claygoldfinch commented on #362
I'll take another look, thanks for the heads up!

[2019-08-11 15:18] kamuk90 commented on #362
Please look #353, solution already exists

[2019-08-11 19:15] dkmontague commented on #342
I redid it last night and had the same issues but ended up just "splitting apart" the duplicates in Plex and unmatching so I have a list.  When trying to manually match them, the appropriate scenes dont come up in the list.

![image](https://user-images.githubusercontent.com/23252487/62838477-91f9d700-bc31-11e9-94fd-669661d5b28a.png)

[2019-08-12 00:00] Elerako commented on #362
Thanks. Everything work.

[2019-08-12 15:46] insickin commented on #357
@claygoldfinch Does this also work on all of the other Nubiles websites? Like for example: https://anilos.com have scene descriptions available.

[2019-08-12 19:00] #362 closed

[2019-08-12 19:01] #337 closed

[2019-08-12 19:05] claygoldfinch commented on #357
Yep, should work with all [Nubiles-Porn](https://github.com/PAhelper/PhoenixAdult.bundle/blob/master/docs/sitelist.md#nubiles-porncom-network--matching-type-exact---sceneid) and [Nubiles Network](https://github.com/PAhelper/PhoenixAdult.bundle/blob/master/docs/sitelist.md#other-nubiles-sites--matching-type-exact---sceneid) sites!

[2019-08-12 19:09] insickin commented on #357
Ok, thanks! Hopefully your Pull Request gets incorporated fast in the main release!

[2019-08-12 19:20] claygoldfinch commented on #342
Best option here would be to change your search terms - try title search rather than actor search. or title search in combination with actor search. The agent uses Blacked's search function, so if that fails to find the correct scene then the agent will also fail to find the correct scene.

For example:

**Search Term:** Blacked - 2019-03-16 - Marley Brinx
The agent requests this site:
https://www

[2019-08-12 19:45] #330 closed

[2019-08-12 19:46] claygoldfinch commented on #357
Just merged it in, give it a shot!

[2019-08-12 20:22] insickin commented on #357
As far as I can test it works! Thanks!

[2019-08-12 20:22] #357 closed

[2019-08-12 20:33] insickin commented on #347
Nobody who can help me with this?

@claygoldfinch
@SgtBatten
@PAhelper

[2019-08-12 21:51] dkmontague commented on #1
Would be cool if https://gloryholeswallow.com/ was added!

[2019-08-13 01:01] claygoldfinch commented on #347
Part of the Gamma Entertainment network. So likely broken just like EvilAngel, Nuru Massage, etc.

[2019-08-13 01:04] claygoldfinch commented on #361
Not doing anything wrong. Site updated and we haven't gotten around to fixing it just yet. Affecting VivThomas and MetArtX as well (see Issue #243).

[2019-08-13 01:04] #361 closed

[2019-08-13 01:05] claygoldfinch commented on #243
And SexArt

[2019-08-13 01:07] #344 closed

[2019-08-13 01:10] #261 closed

[2019-08-13 01:52] #342 closed

[2019-08-13 01:55] claygoldfinch commented on #255
Just tested this out and was getting some errors while trying to scrape artwork. Submitted PR #364

[2019-08-13 03:09] #255 closed

[2019-08-13 10:17] kamuk90 opened #366 "TrenchcoatX redirected to Deeper"

[2019-08-13 15:58] insickin commented on #347
Thanks for picking this one up! Hopefully it will be resolved soon!

[2019-08-13 18:39] insickin commented on #1
Can www.shewillcheat.com be added?

[2019-08-14 12:56] insickin opened #367 "Strike3 Network broken"
I am trying to tag a Blacked scene: Blacked - The Wedding Singer it doesn't find anything in the log I can see list index out of range errors.

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3501451/com.plexapp.agents.phoenixadult.log)

This also applies for Vixen and I expect for Deeper and Tushy.

[2019-08-14 17:27] #367 closed

[2019-08-14 21:15] patester1 commented on #1
colette.com is listed as "Issues scraping JS", but I'm not seems much JS that needs scraping.

For cover image / description + link to more, looks like you can iterate through the pages here, passing Cookie: _warning=true  in the header on each request:
https://www.colette.com/index.php?show=videos&pref=items&page=1&catname=&order=recent

Returns JSON containing HTML.

For models, looks like you c

[2019-08-15 01:51] pedrolara-boop commented on #64
I'm getting some similar errors on MacOS.
Any specific test that I could try?

[2019-08-15 09:19] Elerako opened #369 "CzechVR doesn't find anything"
CzechVR can't find scene

[code]

[2019-08-15 15:08] claygoldfinch commented on #369
Linux?

[2019-08-15 15:14] Elerako commented on #369
MacOS

[2019-08-17 11:11] kamuk90 opened #370 "Dane Jones no meta coz no actor in scene"
I would have repaired, but my request hung for a long time. so...
ex. DANE JONES 4261221 VANESSA DECKER 02.09.2016

[code]

[2019-08-17 21:21] PAQuestions opened #371 "Folder Structure Question"
Not really an issue, at least I don't think it is. But hopefully someone can help me.

How do you guys organize your folder structure? I recently added the date into my file names, and now the information doesn't seem to be getting pulled at all.

My file structure is like this. Adult/TeamSkeet Network/My Babysitters Club/My Babysitters Club 2016-09-17 Caught Red Pantied.mkv

When I refresh my lib

[2019-08-17 21:24] SgtBatten commented on #371
Plex does this weird thing where it searches for the folder name if there is only one file (or the first file in that folder)

That log shows it searching for just the site name.

If you manually match that one any subsequent ones added to the folder will be fine.

[2019-08-18 05:30] ferengi82 commented on #369
can you test it on MacOS? Linux is now working.

https://github.com/PAhelper/PhoenixAdult.bundle/pull/372

[2019-08-18 07:31] Elerako commented on #369
It's working. Thanks.

[2019-08-18 08:36] Elerako opened #373 "PornPros list index out of range"
All PornPros site are out of range
[code]

[2019-08-18 08:37] #369 closed

[2019-08-18 10:39] SgtBatten commented on #373
I think i fixed it all. #374

[2019-08-18 11:13] Elerako commented on #373
Yes, everything work.

[2019-08-18 11:13] #373 closed

[2019-08-18 12:11] PAQuestions commented on #371
Any chance you have any other solutions? This doesn't seem to be working for me.

[2019-08-18 15:27] Tharic99 commented on #64
So there's currently no workaround for this issue on these sites if you're running PMS in a *nix / Docker environment?

[2019-08-18 16:02] insickin opened #375 "Mylf / Mylfwood support"
While tagging Mylf scenes I noticed that they have a new "site" called Mylfwood, the agent can't find the scene via "mylfwood - 1915/married-with-stepchildren" but it did find it via "mylf - 1915/married-with-stepchildren" but it doesn't find the art (both of them Poster/background)

[2019-08-18 16:46] #375 closed

[2019-08-18 21:48] SgtBatten commented on #371
Please share a log of a manual match failing

[2019-08-18 22:30] josst10 commented on #371
I'll just throw out there how I organize mine if anyone is curious. I always keep the folder that directly has the .mp4 file as original as possible. For instance, say a site like Babes that needs to be changed to a scene name. I would have Adult/Babes/babes.xx.xx.xx.actressname.scenename (if included).mp4. I never change that folder name because then I can always change the .mp4 back to the origi

[2019-08-18 22:31] josst10 commented on #371
I'll just throw out there how I organize mine if anyone is curious. I always keep the folder that directly has the .mp4 file as original as possible. For instance, say a site like Babes that needs to be changed to a scene name. I would have Adult/Babes/babes.xx.xx.xx.actressname.scenename (if included)/babes - scene name.mp4. I never change that folder name because then I can always change the .mp

[2019-08-18 23:10] PAQuestions commented on #371
Manual matching does work, but when I add more content into that folder the problem persists on those new files.

I've tried having all the files in the folder when I manually match and tried moving them after. Neither seem to work.

[2019-08-19 07:02] SgtBatten commented on #371
Interesting. I use a similar structure to you @PAQuestions  without issues.

xxx/studio/subsite/subsite - sceneID - Scene title (date).mp4

[2019-08-19 17:45] PAQuestions commented on #371
I recreated my library from scratch and it seems to be working smoothly now. Thanks for the help!

[2019-08-19 17:46] #371 closed

[2019-08-19 18:04] insickin commented on #1
Can https://nhlpcentral.com be added?

You can find their scenes (description/photo/date) via a Google search, for example for "Holly Kiss: Peek-A-Boo", site:https://nhlpcentral.com Holly Kiss: Peek-A-Boo

[2019-08-22 12:54] insickin commented on #1
Can www.girlgirl.com be added?

[2019-08-22 18:15] insickin opened #376 "Sweet Sinner/Sweetheart Video Broken"
I am trying to add a movie from Sweet Sinner but the agent keeps responding with: Nothing Found.

The movie is: "Different Wives, Different Lives"https://www.sweetsinner.com/en/dvd/Different-Wives-Different-Lives/76032

Looking in the log I am seeing the dreaded SSL: SSLV3_ALERT_HANDSHAKE_FAILURE error... Hopefully someone can fix this!

[com.plexapp.agents.phoenixadult.log](https://github.com/PAh

[2019-08-22 20:58] dkmontague opened #377 "CreampieAngels not pulling actors correctly"
CreampieAngels site pulls the below "Royal-Cash.com" for the videos instead of actors

![image](https://user-images.githubusercontent.com/23252487/63549263-ed0ab400-c4e4-11e9-80b8-e7cb7dbda4b2.png)

[2019-08-23 04:10] Gorfob commented on #1
Teen Core Club Network
https://teencoreclub.com/categories/

- TryTeens
- HardcoreYouth
- WhiteTeensBlackCocks
- AssTeenMouth
- YoungThroats
- GirlsGotCream
- Dreams-HD
- Bruta;Invasion
- TeenAnalCasting
- DoubleTeamedTeens
- Defiled18
- TeachMyAss
- Spermantino
- LittleHellcat
- AnalyzedGirls
- AnalCheckup
- TeenGina
- NylonSweeties
- BangTeenPussy
- TeenDrillers
- Seductive18
- CLeanMyAss
- Teen

[2019-08-23 05:08] Gorfob opened #378 "X-Art scraper adding a leading space"
As title.

All title information from X-art is preceded by a leading space.

[2019-08-24 02:03] claygoldfinch commented on #378
Resolved.

[2019-08-24 02:03] #378 closed

[2019-08-24 21:12] skinemax commented on #64
I have a prototype workaround for this...

I installed nginx on my plex server, and created a simple config for a site:

/etc/nginx/conf.d/<site>.conf
`
server {
        proxy_ssl_server_name on;
        listen  <port>;   # I'm using 8<site_id>
        location / {
                proxy_pass      https://<site_domain>.com;
        }
}
`

Then in the PAsearchSites.pl, changing that entry to point t

[2019-08-25 01:25] pedrolara-boop opened #381 "Girlsway not working"
TLDR

If I search:

`SiteName` `YY-MM-DD` - Linux Crash #64

Girlsway - 2019-08-23

`SiteName` `Title` `Actor` `Date` `SceneID` - it will search forever, find on the log and return no results on plex. (Tested on Linux/Synology, Windows, and macOS)

Girlsway - 2019-08-23 - Riley Reid Alina Lopez - Brothers Best Woman

`SiteName` `Title`- Long search, find on the log and no results on plex.

Girlswa

[2019-08-25 08:32] insickin commented on #381
You've tried searched with:

Girlsway -  147619

[2019-08-25 16:06] insickin commented on #1
Can https://www.reidmylips.com be added?

[2019-08-25 20:31] pedrolara-boop commented on #381
Doesn't work. I'm running on Linux (Synology) and also tried on windows.

It looks that it can actually find, however it returns that nothing was found on plex screen.

Here is the full log

2019-08-25 16:21:36,032 (7f5c8ba23700) :  INFO (__init__:46) - *******MEDIA TITLE****** Girlsway 19 08 23 Riley Reid and Alina Lopez Brothers Best Woman
2019-08-25 16:21:36,032 (7f5c8ba23700) :  INFO (__init__

[2019-08-25 21:11] insickin commented on #381
Strange, I'm also running on Linux (In a docker on a Raspberry Pi Raspbian, Open Media Server)

[2019-08-25 21:13] insickin commented on #64
If you get this running can it be incorporated in the agent?

[2019-08-25 21:24] Tharic99 commented on #64
I'm not sure that's a feasible solution for a Docker environment though. Every time the container updates and gets replaced, you'd have to reinstall nginx..

[2019-08-25 22:34] skinemax commented on #64
Yes you wouldn't want to install nginx inside your plex container.  I'm thinking of building a docker nginx container that would do this and be easily updatable, but it would run alongside your plex container.  With the potential for a high number of ports required though it would probably need to be host network and not bridge.

It would have to run alongside plex, either on your server or anothe

[2019-08-26 08:39] insickin commented on #64
I'd like a Docker, I am running Plex Server in a docker on a Raspberry Pi Open Media Server on a  Raspbian install. So if the Docker can be installed on a Raspberry Pi/ARM system... I would like to test it!

[2019-08-27 16:40] Tharic99 opened #383 "Kink.com no longer working"
Running Plex under Docker and I'm aware of the Linux/docker issue, however previous to about a week ago before this started occurring, I have been able to successfully use this bundle to match 800+ kink.com scenes without any problems.

Now, I can't get anything to match. Trying with dates, scene ID's, names, actors, etc. Nothing returns a result.

[code]

[2019-08-29 14:49] insickin opened #385 "newsensations question"
More a question than a issue, does this mean that newsensations is fixed? Because I still can't match file's from them. If nothing is fixed never mind this question!

https://github.com/PAhelper/PhoenixAdult.bundle/commit/f0fe9ddef9e4986eec320ab9f1de5b7e414564cb

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3556114/com.plexapp.agents.phoenixadult.log)

[2019-08-29 15:25] insickin commented on #383
Can confirm that Kink is broken...

Trying to match: https://www.kink.com/shoot/34690

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3556283/com.plexapp.agents.phoenixadult.log)

[2019-08-30 05:54] arthurjames33 commented on #64
I'm going to keep a tally of what is working and not working for me on linux. I'll try skinemax's fix in the next few days and update with what it fixes.

**Not Working**
Manyvids
TushyRaw
Holed
HookupHotshot
Evil Angel

**Working**
Kink
Vogov
Jules Jordan
Tushy
Deeper

**Fixed**
TBD

[2019-08-30 13:06] Tharic99 commented on #64
@arthurjames33, Out of curiosity are you running directly on linux or inside of a docker container? It's interesting how Kink is working for you, but it's not working for two of us.

https://github.com/PAhelper/PhoenixAdult.bundle/issues/383

[2019-08-30 14:00] insickin commented on #383
With the latest update I'm able to tag Kink scene's, are you updated?

[2019-08-30 14:01] insickin commented on #64
The latest update fixed tagging Kink scene's, are you updated?

[2019-08-30 14:06] Tharic99 commented on #383
Just updated and it works now. Awesome, thanks. Closing this out now.

[2019-08-30 14:06] #383 closed

[2019-08-30 14:07] Tharic99 commented on #64
Correction - Updated now and kink.com is working.  I can confirm your list at least for Kink.com, Tushy, TushRaw and ManyVids (NOT working) is accurate for me as well @arthurjames33

[2019-08-30 14:20] insickin commented on #383
Can someone take a look at my not tagging scene (@claygoldfinch perhaps?)

[2019-08-30 14:26] insickin commented on #64
I have 1 scene that I still can't get tagged:
https://www.kink.com/shoot/34690

com.plexapp.agents.phoenixadult.log

[2019-08-30 14:48] Tharic99 commented on #64
Have you tried it as:

`kink.com brutalsessions Holly Michaels 2014-02-23 34690`

That's usually my go to for the difficult ones with multiple commas or other punctuation.

I've also noticed this updated kink.com is having more difficulties with the spacing. It won't match something that comes up as "Kink Com Brutal Sessions BLAHBLAHBLAH" but if I change it to "kink.com brutalsessions BLAHBLAHBLAH

[2019-08-30 17:12] arthurjames33 commented on #64
I am running directly on Linux. Learning docker is on my to do list, but I'm not there yet.

[2019-08-30 18:07] insickin commented on #64
No, that doesn't work either...

[2019-08-30 18:49] insickin opened #386 "Dogfart / BlacksOnBlondes broken"
I am trying to tag: https://www.dogfartnetwork.com/tour/sites/BlacksOnBlondes/adriana_chechik_3/?nats=MC4wLjIzLjIzLjAuMC4wLjAuMA Adriana Chechik's Third Appearance

The agent tags scene info but no Poster/Background/Cast photo's

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3561164/com.plexapp.agents.phoenixadult.log)

[2019-08-30 21:16] skinemax commented on #64
I think Kink's issue is with site layout, I'm not seeing any SSL errors when I test, just results like:

`2019-08-28 22:45:22,308 (7f8300ff9700) :  INFO (PAsearchSites:1104) - publicdisgrace  vs public disgrace
2019-08-28 22:45:22,308 (7f8300ff9700) :  INFO (PAsearchSites:1116) - 3
2019-08-28 22:45:22,308 (7f8300ff9700) :  INFO (PAsearchSites:1163) - 7
2019-08-28 22:45:22,308 (7f8300ff9700) :  INF

[2019-08-30 21:24] skinemax commented on #64
I pulled the latest and that fixed Kink.

XConfessions was the one that I used for initial testing of the proxy method, I'll try manyvids and evil angel and see if I can get it working for those too.

[2019-08-31 14:58] pedrolara-boop commented on #64
It looks that sweetheartvideo also doesn't work on linux (I'm running on Synology). It did work on windows.

SSL error?

2019-08-31 10:53:38,980 (7f6a17159700) :  INFO (__init__:46) - *******MEDIA TITLE****** Sweetheartvideo 17 12 18 Karlee Grey and Brandi Love Professor Love
2019-08-31 10:53:38,980 (7f6a17159700) :  INFO (__init__:53) - Getting Search Settings for: Sweetheartvideo 17 12 18 Karlee

[2019-08-31 15:27] insickin commented on #64
Sweetheartvideo (and probably Sweet Sinner) doesn't work for me either, see #376

Strange with "kink.com brutalsessions Holly Michaels 2014-02-23 34690" it finds other scenes (all of them from brutal sessions) but not the scene I'm searching for...

[2019-08-31 20:49] claygoldfinch commented on #383
@insickin Try searching using the subsite.

`Brutal Sessions - Fuck, is all you get, bitch!!`

[2019-09-01 00:54] Z3ROGRAV1TYx opened #387 "Jellyfin Support"
Would truly love to see this supported for [Jellyfin](https://jellyfin.github.io/) (An open source alternative to Plex).

[2019-09-01 09:08] insickin commented on #387
Or Emby!

[2019-09-01 10:01] insickin commented on #383
@claygoldfinch thanks man, with that combo the agent finally found the scene!

[2019-09-01 13:37] Z3ROGRAV1TYx commented on #387
Emby is alright, but Jellyfin is literally a completely free, open source fork of Emby which is gaining a lot of attraction, especially since Emby has put a ton of stuff behind a paywall (Such as hardware transcoding and a bunch of plugins).

[2019-09-01 16:33] insickin opened #388 "PervMOM Broken no Background/Poster"
Like the title say's when tagging a PervMOM scene the agent doesn't get Background/Poster art.

Example:

https://www.pervmom.com/945/nursing-some-nuts/abby-lee-brazil

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3563718/com.plexapp.agents.phoenixadult.log)

[2019-09-01 21:26] insickin commented on #1
Can https://www.insexondemand.com/iod/home.php be added?

[2019-09-02 13:25] Spanishu commented on #1
can
allanal.com be added ?

[2019-09-02 20:42] PAQuestions opened #390 "[Feature Request] LAMBDA Support"
Not sure if this is the right place to even ask this, but I was wondering if it's possible to have support for LAMBDA.

I've added LAMBDA to the PhoenixAdult agent, and I've gotten .nfo files to download. My problem is with files that are added and the .nfo that are associated with them.

My problem is that the .nfo isn't populated with the correct information. It seems like the information is tak

[2019-09-02 21:15] SgtBatten commented on #390
Might help to explain or link to what LAMBDA is

[2019-09-02 22:51] PAQuestions commented on #390
Sorry about that.

LAMBDA is a Plex agent that creates and uses local metadata.

Here is the Github. https://github.com/ZeroQI/Lambda.bundle

[2019-09-02 23:23] aicha1566 commented on #385
Sort of... Hi I'm the one who made that pull request. This might be more of a problem with the specific search you're using. I noticed that some older DVD's don't contain scenes on their site. In other words, for your search "Newsensations the Beautiful Solo 2" you'd want to match this: https://www.newsensations.com/tour_ns/dvds/TheBeautifulSolo2.html but the script is unable to find any scene det

[2019-09-03 10:36] chempke commented on #385
@aicha1566 what about individual scenes? I'm not sure how to handle it. The sidelist.md says Matching type: Exact - DirectURL

So, if i try this scene for example:
*https://www.newsensations.com/tour_ns/updates/Shaking-Harley-Jade-Juicy-Big-Booty.html*

Naming the file like:
`Site Name` `Direct URL` gives no results
NewSensations - Shaking-Harley-Jade-Juicy-Big-Booty.html or
NewSensations - Shakin

[2019-09-03 15:28] insickin commented on #1
Can https://milftrip.com/ be added?

[2019-09-03 19:08] insickin commented on #385
Thanks @aicha1566 that's working for me!

@chempke I tagged "NewSensations - Dee Has A Confession To Make" https://newsensations.com/tour_ns/updates/Big-Tit-MILF-Dee-Williams-Has-A-Confession-To-Make.html with the combo: NewSensations - Big-Tit-MILF-Dee-Williams-Has-A-Confession-To-Make (This is a single scene, I've not tried DVD's)

[2019-09-03 23:41] dkmontague opened #392 "GangBangCreampie Not Working"
There are no matches when searching for gangbangcreampie.com scenes - it appears to not be working at all

[2019-09-04 06:34] hdkiller opened #393 "Runtime Error R6034 when using this plugin on Windows 10"
Hello!

When this plugin activates by scraping metadata Plex sometimes throws the following error:

Runtime Error!
R6034
An application has made an attempt to load the C runtime library incorrectly.

[![Screenshot from Gyazo](https://gyazo.com/58e7a82812eaab204f83cbf9fe8ef2d8/raw)](https://gyazo.com/58e7a82812eaab204f83cbf9fe8ef2d8)

I was trying to solve this problem, by removing python path from

[2019-09-04 12:07] cristiano1976pt opened #394 "Dane Jones catches no Pictures and Description"
So i don't know if it was ever working or not because i only started today do catch Dane Jane Content. So in my Case it matches fine with Scene ID and it catches a lot likd Date, Name, Genre etc.
But it do not pick up Picture and Description.

[2019-09-04 20:11] saltydk commented on #64
Have you tried using urllib3 using this library?
https://github.com/piplongrun/muvio.bundle/tree/master/Contents/Libraries/Shared

[2019-09-05 14:40] insickin opened #395 "Karups support"
I am trying to tag: "Karups Older Women - Convincing the Coach" https://www.karups.com/video/dee-williams-convincing-the-coach-50754.html but the agent finds no scene...

I've tried it with a few combinations like:
Karups Older Women - Convincing the Coach
Karups Older Women - Dee Williams
Karups - Dee williams

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/

[2019-09-05 16:47] claygoldfinch commented on #395
Try `KarupsOW - Dee Williams`

[2019-09-06 15:04] insickin commented on #395
Thanks, that did the trick!

[2019-09-06 15:04] #395 closed

[2019-09-06 15:06] insickin commented on #1
Can https://www.tabooheat.com be added?

[2019-09-06 16:54] pedrolara-boop commented on #64
@saltydk can you share more info about how to test this library that you suggested?
Should I just move to the Shared folder for the PhoneixAdult.Bundle?

[2019-09-06 20:05] saltydk commented on #64
It requires a rewrite of the code. It is just a way you can add python libraries in Plex and thought maybe the dev didn't know.

[2019-09-08 14:22] insickin commented on #1
Can http://cosmid.net/ be added?

[2019-09-10 11:23] skinemax commented on #64
Wouldn't this only fix metadata scraping and not images (because they get pulled down by plex code).  The local proxy method to bypass https passes the proxy url to plex, so it benefits from the fix as well.

[2019-09-10 15:46] insickin opened #396 "Ultrafilms support"
I am trying to tag my Ultrafilms scene's but all I'm getting is Nothing found.

`2019-09-10 17:42:53,643 (6e6ff460) :  DEBUG (runtime:88) - Sending packed state data (6872 bytes)
2019-09-10 17:42:53,646 (6e6ff460) :  DEBUG (runtime:924) - Response: [200] str, 16 bytes
2019-09-10 17:44:05,617 (6e6ff460) :  DEBUG (runtime:717) - Handling request GET /:/plugins/com.plexapp.agents.phoenixadult/messagi

[2019-09-10 16:02] insickin opened #397 "Can somebody push the open Pull requests? / Give tips for adding site's?"
Like the title says: Can somebody push the open Pull requests?

And is it me or has it become quiet here, maybe it's the summer vacation? The last month not to many updates or new site's added (not that it's mandatory to work on this project... And all probs for all the coders this far on the agent!)

I wish that I could do maintenance/code new sites, if someone has tips on how/learn with codelang

[2019-09-10 22:21] SgtBatten commented on #397
I had never used python 6 months ago. I just read the code and tried to play with a new site. Eventually I worked it out. Took a bit of time but it fairly straight forward once you know how it works.

Provided the code was usable on a given site you could add a new site in 20-30 mins easy once you get the hang of it.

[2019-09-11 09:37] cristiano1976pt opened #398 "Babes Site error with siteID"
Hello,
is something broken with Babes Site? In the past it worked without any issues when i used the SiteID.
But now the last 2 new Videos i get errors. Somebody else who can confirm that?
Error Log below.

2019-09-11 11:34:17,168 (7fe16deb5700) :  INFO (agentkit:957) - Searching for matches for {'year': None, 'id': '27263', 'name': 'Babes 4393845'}
2019-09-11 11:34:17,170 (7fe16deb5700) :  DEBUG

[2019-09-11 10:58] chempke commented on #398
I can confirm, noticed the same thing a few days ago.

[2019-09-11 14:45] insickin commented on #397
Thanks for the tips @SgtBatten much appreciated, I'm going to try to add a site, or do you know of a easy already added site to take a try at it, to get a hang off it?

[2019-09-11 21:16] pedrolara-boop commented on #398
Same here

[2019-09-13 05:13] degeneratesmut opened #401 "Debugging/Testing During Development"
Feel free to close if this isn't the right place.

Can anyone tell me how they debug/test changes to the scraper? Currently I'm stuck just pressing "refresh metadata" and hoping the changes I made work.

I'd love for there to be a way to step through things to catch my errors and help me understand how things interact better.

Thanks.

[2019-09-13 13:02] insickin commented on #401
You can use "unmatch" and then you can "re-"match your scene and can see if for example photo's now load.

[2019-09-13 15:39] claygoldfinch commented on #401
Agent log files. Should tell you exactly which line of code failed and why.

[2019-09-15 05:35] ferengi82 commented on #396
im not an expert, but i think its not ultrafilms. can you try to rename the file?
the dash-Symbol after Ultrafilms (Ultrafilms **\xe2\x80\x93** First Licking Orgasm) looks weird ...

[2019-09-15 09:12] insickin commented on #396
My files are named in the UltraFilms – First Licking Orgasm with Caroline, Vanessa and Michelle style how/which sceme can I rename them to?

[2019-09-15 09:26] insickin opened #403 "DDFNetwork missing cast photo's"
After the latest update of the agent tagging scene's from DDFNetwork works except that it doesn't load/tags the cast info/photo's.

[2019-09-15 12:09] insickin commented on #64
How is this fix going?

[2019-09-15 17:58] insickin commented on #376
Also Sweetheart Video DVD's/scene's are not found.

[2019-09-15 19:15] ferengi82 commented on #396
i think the - between films and first causes the problems (there are many different - symbols)

Limited-search in your post is a "normal" - that should work.
UltraFilms – First Licking Orgasm is a longer line (not a normal - symbol) => im not 100% sure, but i think thats the problem.

=> replace the - or test it with out it (only a space)

[2019-09-15 19:33] insickin commented on #396
That seems strange to me because I normally always have a - between studio and scene name, but it works! :confused:

[2019-09-15 19:35] #396 closed

[2019-09-15 21:09] claygoldfinch commented on #397
Hoping to be a bit more active around here soon. Been busy with the start of classes and moving, plus suffered some data loss that pushed contributing to the backburner.

Straplezz was a relatively easy site that I added. Check out the template file, as well.

[2019-09-15 23:42] insickin commented on #397
@claygoldfinch Good to have you back! Hopefully you've got most of your data back, data loss seems like a nightmare! (Need to get working/thinking on a back-up plan...)

Next week I have a week of vacation, then I want to try to add a site. I will take a look at the Straplezz and the template file. I know that there is also info in the wiki, if I have any questions I will ask them here!

Thank you

[2019-09-16 03:02] degeneratesmut commented on #401
Cool, I'll take a look. Also props to you and all the other contributors. Looks like this has improved significantly since I last updated it.

[2019-09-16 16:44] claygoldfinch commented on #243
Tested with a few MetArt, SexArt, and VivThomas scenes - all appear to be working with @b0nensfw's fix (PR #400)!

Still running into some issues with MetArtX scenes:
[code]

[2019-09-16 17:46] insickin opened #405 "MomPov issue"
I'm tagging my MomPov scene's and they are all tagged except the first scene from them http://www.mompov.com/tour/2011/06/madison/

The agent sees the scene and I can "tag" it but it doesn't fill anything, it only changes the title to: 40 year old swinger milf [MomPOV]

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3617489/com.plexapp.agents.phoenixadu

[2019-09-16 21:05] pilonull commented on #64
I've been looking around on the pull requests and stuff and found this: https://github.com/PAhelper/PhoenixAdult.bundle/pull/365

I'm a noob though so I'm not sure how to integrate those fixes in to the plugin's folder.

[2019-09-17 02:41] claygoldfinch commented on #392
Log?

[2019-09-17 02:57] claygoldfinch commented on #377
All that info is being pulled from file metadata. Try manually matching.

[2019-09-17 02:57] #377 closed

[2019-09-17 02:59] claygoldfinch commented on #393
Not related to the agent, you should try repairing your Plex install.

[2019-09-17 02:59] #393 closed

[2019-09-17 03:23] #104 closed

[2019-09-17 03:23] #327 closed

[2019-09-17 03:23] #370 closed

[2019-09-17 03:23] #385 closed

[2019-09-17 03:23] #386 closed

[2019-09-17 03:23] #405 closed

[2019-09-17 12:00] chempke commented on #403
I have tested some scenes and get no cast at all.

[2019-09-17 13:42] insickin commented on #397
Is the wiki still up to date? I see that there is some info/help on adding sites

[2019-09-17 13:58] insickin opened #406 "Vogov no date"
I added Vogov scene's and they are tagging fine but I'm missing the dates.

[2019-09-18 05:04] degeneratesmut opened #407 "[Feature Request] Ignore Portions of File Name"
**Use Case**
Sites require specific naming conventions for auto-match.
`FemdomEmpire - YYYY-MM-DD - SceneTitle` results in an auto-match
`FemdomEmpire - YYYY-MM-DD - SceneTitle - Star Name` does not result in a match
This would be helpful for exact match websites as well

I would like to keep Star Name in all my file names, but have it be ignored by the scraper so that I don't need to manually mat

[2019-09-18 21:14] pedrolara-boop commented on #347
Any news about a fix?

[2019-09-19 19:39] ff-man opened #409 "loveherfeet not bringing back results"
It finds the correct search URL and when I go there myself, I see the correct movie in the results (it's also the only one) but nothing comes back on the interface, just `No Matches Found.`

[code]

[2019-09-20 01:21] d2dyno commented on #304
More sites started having this issue:
- BurningAngel
- DarkX
- DDFBusty
- EroticaX
- FantasyMassage
- Girlsway
- HardX
- ImmoralLive
- LesbianX
- MommyBlowsBest
- OnlyTeenBlowjobs

[2019-09-20 01:32] d2dyno commented on #409
Same issue here

[2019-09-20 13:37] b0nensfw commented on #403
@insickin @chempke  could you provide the logs from com.plexapp.agents.phoenixadult.log after trying to match a video wich is failing.

To get the file in Windows :
%userprofile%\AppData\Local\Plex Media Server\Logs\PMS Plugin Logs

[2019-09-20 13:39] b0nensfw commented on #397
@claygoldfinch  Maybe close this issue

You have the info to add site here : https://github.com/PAhelper/PhoenixAdult.bundle/wiki

And @claygoldfinch is pushing the open Pull Request

[2019-09-20 13:41] b0nensfw commented on #394
@cristiano1976pt  could you provide the logs from com.plexapp.agents.phoenixadult.log after trying to match a video which is failing.

To get the file in Windows :
%userprofile%\AppData\Local\Plex Media Server\Logs\PMS Plugin Logs

[2019-09-20 13:41] b0nensfw commented on #392
@dkmontague  could you provide the logs from com.plexapp.agents.phoenixadult.log after trying to match a video which is failing.

On my side the integration is working

To get the file in Windows :
%userprofile%\AppData\Local\Plex Media Server\Logs\PMS Plugin Logs

[2019-09-20 13:49] b0nensfw commented on #406
@insickin could you provide the logs from com.plexapp.agents.phoenixadult.log after trying to match a video which is failing.

I'm pretty sure the code doesn't like the date format  (but i got no vogov vids and can't test)

To get the file in Windows :
%userprofile%\AppData\Local\Plex Media Server\Logs\PMS Plugin Logs

[2019-09-20 13:55] b0nensfw commented on #28
@insickin is it still a bug? Can you reconfirm whats working/ not working

[2019-09-20 13:58] cristiano1976pt commented on #394
2019-09-20 15:56:42,891 (7f7c4bd11700) :  DEBUG (networking:166) - Requesting 'http://127.0.0.1:32400/library/metadata/29346/tree'
2019-09-20 15:56:42,929 (7f7c4bd11700) :  INFO (__init__:46) - *******MEDIA TITLE****** Danejones 19 09 16 Nelly Kent
2019-09-20 15:56:42,931 (7f7c4bd11700) :  INFO (__init__:53) - Getting Search Settings for: Danejones 19 09 16 Nelly Kent
2019-09-20 15:56:42,932 (7f7c

[2019-09-20 14:49] b0nensfw commented on #263
@claygoldfinch is this issues still open? Ganbang Creapie seem to work for me

[2019-09-20 14:54] b0nensfw commented on #247
@pedrolara-boop
Clearly you are not following the name scheme you shoud use : AGirlKnow - 2019-08-23 - Lana Roy Alya Stark

@claygoldfinch Could you confirm the bug is still present, the whitebox seem to be working for me

[2019-09-20 14:56] insickin commented on #28
Yes @b0nensfw this is still a bug! I had a look and tested a few things for you:

Sweetheart Video:

For example tried with "sweetheartvideo - Girls Of Wrestling" whole DVD release, doesn't work
and "sweetheartvideo - A Helping Hand" a scene from Girls Of Wrestling also doesn't work

whole DVD release:
I tried searching with combo's like:
"sweetheartvideo - Girls Of Wrestling"
"sweetheartvideo - 7

[2019-09-20 15:03] insickin commented on #406
2019-09-20 15:52:59,406 (708fe460) :  DEBUG (runtime:88) - Sending packed state data (112 bytes)
2019-09-20 15:52:59,410 (708fe460) :  DEBUG (runtime:924) - Response: [200] str, 16 bytes
2019-09-20 16:02:16,790 (708fe460) :  DEBUG (runtime:717) - Handling request GET /:/plugins/com.plexapp.agents.phoenixadult/messaging/function/X0FnZW50S2l0OlNlYXJjaA__/Y2VyZWFsMQoxCmxpc3QKMApyMAo_/Y2VyZWFsMQoyCmRp

[2019-09-20 15:43] b0nensfw commented on #247
@claygoldfinch  I just saw that it was about the poster and background part !

[2019-09-20 16:02] pedrolara-boop commented on #247
I think you mean "AGirlKnows - 2019-08-23 - Lana Roy Alya Stark"

It's working, however, it seems that letdoeit returns a lot of wrong results before the right one.
Had to do it manually.

Thanks for the fix guys is working!! 👍

[2019-09-20 16:40] b0nensfw commented on #28
@insickin Could you provide you log file, I will look it up today or this weekend

[2019-09-20 16:45] b0nensfw commented on #247
@pedrolara-boop Yes indeed for the cover, I did code a fix but I need to wait before asking for a merge and pushing the change

[2019-09-20 16:55] b0nensfw commented on #28
@insickin I just did a Test with SweetSinner scene without problem

Is the problems only linked to Movie release?

[2019-09-20 17:03] insickin commented on #28
I think I see whats the problem, I'm running my plex server on a Linux box and the last sentence from the log is the "famous"

URLError: <urlopen error [SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake failure (_ssl.c:590)>

Error... I hope something can be done for us on Linux servers...

2019-09-20 15:52:52,593 (708fe460) :  DEBUG (runtime:88) - Sending packed state data (112 bytes)
201

[2019-09-20 17:09] b0nensfw commented on #28
Its a Linux issues #64

[2019-09-20 17:12] insickin commented on #28
And the Girlfriends Films issue?

[2019-09-20 17:13] b0nensfw opened #411 "Issues need a good cleanup"
@PAhelper @claygoldfinch

Hi, I would really like to help update the code and fix some problems, but a lot of issues are duplicated, old issues that have been fixed. Could I get the right on the project to manage issues and try to clean it up.

Tks!

[2019-09-20 17:18] b0nensfw commented on #276
@fritz276 Could you confirm the problems is still there?

Is it happening with all twisty video?

[2019-09-20 17:21] b0nensfw commented on #28
Could you provide log, I don't have any girlfriend video in my library. If not I will try to get one and test it. But is you got the:
 URLError: <urlopen error [SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake failure (_ssl.c:590)>

Its a Linux issues and you will have to wait for the issues to be resolved

If all three website are from the same network then its really possible that its t

[2019-09-20 17:35] insickin commented on #28
I know that Girlfriends Films is not the same network, I am currently having Plex database issues so I can't get you a log instantly.

[2019-09-20 17:56] b0nensfw commented on #28
Ok test it when you can (I don't have Girlfriends Film or Linux Plex so I won't be able to test it for the moment, but I will try to setup something to test it).

If its not a problem related to Linux then please open another Issue (or look if its no already open) for Girlfirends Film only it will be easier to follow that way.

[2019-09-20 19:44] tritnaha commented on #366
This is because it´s now under the deeper-brand/site.

[2019-09-20 19:48] tritnaha commented on #236
Do  we have any progress on this, @mrwoofa & @dxm2891 ?

[2019-09-20 22:22] insickin commented on #28
Ok, database problem solved! Looking at the log I think that its no problem with Linux, I will post a log in the Girlfriends Films topic #347

[2019-09-20 22:23] insickin commented on #347
@b0nensfw

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3637938/com.plexapp.agents.phoenixadult.log)

See also the first post of this topic

[2019-09-21 01:20] mrwoofa commented on #236
I've actually got a good API running, using it personally. I also wrote a Plex agent that matches things. It needs tweaking, but it works really well.

I have 360 sites, 15 scrapers, 150,000 releases, 20,000 actors in my database as of now, with more being added hourly.

I'm currently running it on my server in my garage, so i wouldn't open it up. Maybe one day i can get the funds together to put

[2019-09-21 02:50] dkmontague commented on #392
I think its actually a naming issue - i thought it would treat episode numbers as title.  Looks like have to use girls name. "gangbangcreampie - danica - 965" doesnt work but "gangbangcreampie - danica" works.

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3638245/com.plexapp.agents.phoenixadult.log)

[2019-09-21 02:59] #392 closed

[2019-09-21 07:27] tritnaha commented on #236
@mrwoofa Very nice! It´d be awesome to get this up and running, shoot me an email at abuse@tritnaha.com and we can take it from there.

[2019-09-21 10:02] chempke commented on #403
DDFNetwork - Book us a Room Pronto
https://ddfnetwork.com/videos/book+us+a+room+pronto/18821

[code]

[2019-09-21 18:17] insickin opened #412 "Twistys subsite: Turning Twistys"
Can "Twistys" subsite "Turning Twistys" be added in the code? The agent already finds the "Turning Twistys - " scenes via "Twistys - " but it would be nice if it can find it via "Turning Twistys - "

[2019-09-21 18:57] insickin opened #413 "Twistys - When Girls Play"
I am trying to tag: "Twistys - Toy-For-Her Party" but the agent comes back with: Nothing Found.

I've tried:
"Twistys - 4365560"
"WhenGirlsPlay - 4365560"

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3638983/com.plexapp.agents.phoenixadult.log)

[2019-09-21 19:26] insickin commented on #413
Nevermind, I had the sceneID for the "scene" version "4365560" apparently you need the "trailer" sceneID

[2019-09-21 19:26] #413 closed

[2019-09-22 07:01] cristiano1976pt commented on #1
i would like to see https://straplezz.com/ to be added

[2019-09-22 23:55] insickin commented on #1
@cristiano1976pt I think it is already supported

[2019-09-24 04:31] ferengi82 commented on #236
a repo would be great, i'd love to look at your code.

by the way: are you the mrwoofa from beisammen.de?

[2019-09-24 09:03] fritz276 commented on #276
@b0nensfw The problem ist not there anymore, at least I can (now) match the two ID's that did not match before (3591111, 3410461) so I think its fixed. I dont know "when" it happened (or which commit did the trick).

[2019-09-25 00:35] #276 closed

[2019-09-27 20:43] SgtBatten commented on #394
There are not really any images on danejones.com to grab. if you have some examples of where/what you want to grab we can look

[2019-09-28 14:04] fritz276 commented on #388
Why is that closed?

2019-09-28 16:00:29,695 (805b3f500) :  DEBUG (runtime:88) - Sending packed state data (2212 bytes)
2019-09-28 16:00:29,695 (805b3f500) :  DEBUG (runtime:924) - Response: [200] str, 16 bytes
2019-09-28 16:00:34,499 (805b41300) :  DEBUG (runtime:717) - Handling request GET /:/plugins/com.plexapp.agents.phoenixadult/messaging/function/X0FnZW50S2l0OlNlYXJjaA__/Y2VyZWFsMQoxCmxpc3QK

[2019-09-29 12:57] m0uthless opened #416 "PropertySex error on scrape"
Error on scrape all propertysex scene

filename: propertysex.15.09.18.4354258.mila.blaze.for.sale.by.owner

log:
[code]

[2019-09-29 17:33] #394 closed

[2019-09-29 17:33] #412 closed

[2019-09-29 17:33] #416 closed

[2019-09-29 17:47] #397 closed

[2019-09-30 00:17] Z3ROGRAV1TYx commented on #1
Would love to see PH worked on (I know it's on the Plan To list above).
I do think it would be nice to at somepoint have support for other major streaming sites such as Xvideos, Xhamster, YouPorn, etc. It's nice for users who watch a lot of amateur stuff.

[2019-09-30 15:58] insickin opened #418 "Deeper no Cast info/photo's"
Like the title say's, the agent doesn't tag Deeper Cast info/photo's anymore.

[2019-09-30 16:37] pedrolara-boop commented on #64
I get the "linux" error for Girlsway if I search the date only:
Girlstryanal - 2019-09-29

2019-09-30 12:21:58,813 (7f9401665700) :  DEBUG (networking:166) - Requesting 'http://127.0.0.1:32400/library/metadata/87513/tree'
2019-09-30 12:21:58,820 (7f9401665700) :  INFO (__init__:46) - *******MEDIA TITLE****** Girlstryanal - 2019-09-29
2019-09-30 12:21:58,821 (7f9401665700) :  INFO (__init__:53) - G

[2019-09-30 16:49] pedrolara-boop commented on #381
Ok, I kind of figure it out what is going on.

1. The way I'm naming the files it does not work for Girlsway, I had no issue with other sites:

MommysGirl.19.09.28.Lauren.Phillips.And.Arietta.Adams.My.Moms.A.Virgin.XXX.2160p.mp4

(If someone can please try :) )

It results in the plug-in finding the video on the log but returning zero results on plex. It also keeps returning tons of results on the

[2019-09-30 19:53] insickin commented on #64
For Girlsway scene's you must use the scene ID

[2019-10-01 00:59] SgtBatten commented on #407
Putting the name in brackets will ignore it i think

[2019-10-01 01:28] #248 closed

[2019-10-01 10:59] ApplicationError opened #420 "Videos are added to a collection of the videos name."
When I add new content, each video is tagged its own name as a collection in addition to being tagged with the site's collection.

I don't see a logical reason why each video should be in its own collection. It requires the user to go into each of the collections (that only have 1 video) and remove that tag, then delete that empty collection.

[2019-10-01 12:12] SgtBatten commented on #420
Duplicate of #304

Please share which sites

[2019-10-01 12:17] ApplicationError commented on #420
Sorry, I didn't know this would be a site specific item. I think I've seen this happen on all sites... but recently with HardX and EroticaX

[2019-10-01 14:15] pedrolara-boop commented on #64
I didn't know that. It says enchanced on the documentation, maybe should be changed then. :)

[2019-10-01 14:53] Tharic99 commented on #64
They don't require the scene ID. It does make it easier, but you can use the actor name, scene name, date, etc. It works, just not always an easy match like scene ID is. I've got 400+ Girlsway scene's done, so I know it works. ;)

[2019-10-01 15:29] pedrolara-boop commented on #64
For me (synology) it crashes (linux error) if I search "Site - YYYY-MM-DD" (Girlstryanal - 2019-09-29).
It would be great if someone else can test on linux just this combination 👍

However, it seems to be a strange bug that it only had affected me. And only for girsway.
(On Synology, Windows and MacOS) #381

TDRL -
If I search "Site - Date - Actors - Title", it will search forever, find on the log

[2019-10-01 16:01] pedrolara-boop commented on #381
Add a TLDR at the first post, hopefully, it makes easier for people to help.

[2019-10-01 17:59] chonka1 commented on #248
Just noticed this was closed.

Are you saying it will not work every again because of JS?  Can there just be a way to provide the scene URL and scrape directly from there?  We had to search for the scene ID on the site anyway.

[2019-10-01 23:30] #409 closed

[2019-10-02 10:11] hdkiller commented on #393
Hello!

I was finally had time to dig deeper into the problem.

I had to install PIL-1.1.7.win-amd64-py2.7 then copy the PIL directory from c:\Python27\Lib\site-packages\PIL to Contents\Libraries\Shared\PIL

[2019-10-02 19:27] jamesalexw opened #424 "AmateurAllure HTTP403 error - unable to pull images"
Log output below. Looks like the site owners prevented scraping the high res images.

For example the following 403's -
https://www.amateurallure.com/tour/content//upload/alexa_grace/1600watermarked/alexa_grace66.jpg

Thumbs are also not accessible either -
https://www.amateurallure.com/tour/content//upload/alexa_grace//thumbs/alexa_grace01.jpg

Unfortunately I'm not sure if there is another way t

[2019-10-04 16:43] pedrolara-boop commented on #420
The same happens to me.
Here are some of the sites that I found this to happen:
-Girlsway
-XEmpire
-Fantasy Massage
-Jules Jordan
-LetsDoeIt
-DDF
-At least one from Brazzers

[2019-10-04 20:36] #403 closed

[2019-10-04 21:24] pedrolara-boop opened #427 "Limit the amount of results from a search"
I'm currently experience issues with girlsway and a few related sites where the search term returns too many items. The search takes too long to complete that I believe plex times out and returns no match.

Is there a way to limit the number of search results on the code?

i.e.
63 pages, 1000 videos and around 38 minutes to complete. Tested on Windows and Linux.

http://www.girlsway.com/en/search/

[2019-10-04 21:24] pedrolara-boop commented on #381
The problem seems to be the number of results that are returned from the site close to 1000.
I decide to close this and open a specific one on how to deal will search results that are too big. #427

[2019-10-04 21:24] #381 closed

[2019-10-04 23:38] claygoldfinch commented on #339
Resolved, #426.

[2019-10-04 23:38] #339 closed

[2019-10-04 23:38] claygoldfinch commented on #345
Resolved, #426.

[2019-10-05 02:43] #407 closed

[2019-10-05 15:28] insickin opened #429 "Fitting Room no cast info/photo"
Like the title says: if I try to tag a Fitting Room scene I get no cast info/photo.

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3693430/com.plexapp.agents.phoenixadult.log)

[2019-10-05 16:18] pedrolara-boop commented on #427
The problem is that I have "and" between two actors. It makes the search of two actors names + title to return close to 1000 items. Maybe it should be an addendum on the documentation.
https://github.com/PAhelper/PhoenixAdult.bundle/blob/master/docs/manualsearch.md

I'm removing the word "and" from the files. I was also able to change the value from 90 pages to something like 5, making it way fast

[2019-10-05 16:18] #427 closed

[2019-10-05 16:31] m0uthless commented on #1
up for bffs and shoplyfter

[2019-10-05 18:53] insickin opened #430 "Raw Attack no Poster/Background"
I am tagging https://rawattack.com/updates/Busty-Redhead-Lauren-Phillips-Totally-Raw.html the agent fills everything except the poster/background images.

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3693619/com.plexapp.agents.phoenixadult.log)

[2019-10-05 21:57] claygoldfinch commented on #427
Best option is to just limit the number of pages the agent scrapes. No idea why it was set at 90... is anyone's search term so obscure they need 1440 results?

Feel free to submit a PR with the change.

[2019-10-06 19:02] pedrolara-boop commented on #347
The first error is on
https://github.com/PAhelper/PhoenixAdult.bundle/blob/70d50a705923315d21079f4872e956e7460faa27/Contents/Code/networkGammaEnt.py#L74

Changing from "&tab=movies" to "?query=&pscenes=0&tab=movies" will fix the search error.

However, the site is relatively different than other gamma network sites.

[@class="tlcDetails"] might be [@class="itemInfo  from-girlfriendsfilms"]
[@class

[2019-10-06 19:56] pedrolara-boop opened #432 "Post-processing Documentation"
It looks like a quite cool feature hidden under the folders.

Where can I find more information about the post-processing? What does it do? How to setup? Is it only for windows?

The information is quite vague with "point sabnzbd to this file" and some example with folders that doesn't tell you how you should correctly do it.

Thanks

[2019-10-06 20:38] SgtBatten commented on #432
I'll push the post processing branch to master now. There's a readme in there

[2019-10-07 13:34] pedrolara-boop commented on #432
Thanks, I will check out and try!

[2019-10-07 13:34] #432 closed

[2019-10-07 21:04] chempke commented on #1
ElegantAngel
https://www.elegantangel.com

[2019-10-08 07:10] SgtBatten commented on #304
From #420

[2019-10-08 07:10] #420 closed

[2019-10-08 10:32] fritz276 commented on #427
Thats great, it works!

[2019-10-08 13:25] insickin opened #434 "NewSensations missing Poster/Background image + missing release date"
Like the title say's when tagging NewSensations scene's I am missing Poster/Background image and missing a release date.

I've included a log:

[com.plexapp.agents.phoenixadult.log](https://github.com/PAhelper/PhoenixAdult.bundle/files/3702581/com.plexapp.agents.phoenixadult.log)

Or it picks the DVD cover for the poster off which the scene comes.

Log:

[com.plexapp.agents.phoenixadult.log](https

[2019-10-08 15:30] pedrolara-boop commented on #1
Vivid
https://www.vivid.com

The search is via API that makes a little tricky, at least to me.

https://www.vivid.com/videos/api/?limit=24&sort=datedesc&search=anissa%20kate&flagType=video

Does anyone know any site on the plug-in that looks similar?

[2019-10-08 15:32] insickin opened #435 "Mylf no Background/Poster"
Like the title say's I am missing the background/poster from Mylf

[2019-10-08 16:01] claygoldfinch commented on #434
- Missing a release date is normal - scenes are Date Add only.
- Missing a background image isn't normal - just pushed an update to the agent.
- Using the DVD cover as the Plex poster image for scenes is normal. Can be changed, but IMO was a better fit than the background image.

[2019-10-08 16:10] insickin commented on #434
From my memory the Poster was from the scene not the DVD cover but I can be wrong :stuck_out_tongue_winking_eye: , can't you make it so we can choose for our self?

[2019-10-08 16:32] insickin commented on #434
Oke, testing this, now I'm getting a background but no poster

[2019-10-08 16:46] insickin commented on #434
Oke, tested it, for some strange reason when I match a scene I don't get straight away a background, I must manually choose one (because the first doesn't load?) ( this is not with all scene's, some load the first time correctly)

And 1 scene "A Special Guest For Gabbie" doesn't load a poster.

[2019-10-08 16:57] claygoldfinch commented on #434
Try unmatching, clearing bundles, and then rematching. "A Special Guest For Gabbie" doesn't load a poster because it doesn't have a related DVD. I can certainly add in some code to add the background as a possible poster!

[2019-10-08 17:18] insickin commented on #434
I changed it (choose the second image) manual for the scenes that didn't load the background automatically so that's not really a problem anymore.

If you can add that code...

[2019-10-08 18:33] insickin commented on #388
@claygoldfinch Can you fix this? (or someone else off course)

[2019-10-10 14:46] fritz276 commented on #435
I can confirm that issue.

[2019-10-11 13:34] WilliamsVM opened #438 "XEmpire is not working"
I think XEmpire broke their search. All the searches seem to be returning the same results. Appears to be the latest scenes? I did get the newest scenes (released in the past 3 months) I have from them to match but everything else returns only unrelated scenes.

[2019-10-11 14:39] tritnaha commented on #304
Seeing the same issues here as well unfortunately.

[2019-10-11 15:45] insickin opened #439 "Teamskeet missing Poster/Background"
Like the title say's I am missing Poster/Background images when tagging TeamSkeet scene's

[2019-10-11 15:48] pedrolara-boop commented on #376
It's a strange error. I was getting the same search error sweetheartvideo for a long time, now it's working. However, the search quality is really low since it pulls everything from milehighmedia.
The error returned but got fixed after a Plex restart.

[2019-10-11 17:57] chempke commented on #438
Can you give an accurate example?
Everything works as it should for me

[2019-10-11 18:11] insickin opened #440 "Brazzers, can't find 1 scene"
I am trying to tag: - "Pornstars Like It Big - Slip And Slide 3" https://www.brazzers.com/scenes/view/id/3460147/slip-and-slide-3/ but the agent doesn't find the scene.

I've tried combo's like:
PornstarsLikeItBig - Slip And Slide 3 / Brazzers - Slip And Slide 3
PornstarsLikeItBig - Alexis Fawx / Brazzers - Alexis Fawx
PornstarsLikeItBig - 3460147 / Brazzers - 3460147

But non off them finds the s

[2019-10-11 19:46] claygoldfinch commented on #440
Try something like `Pornstars Like It Big - Slip And Slide 3 Alexis Fawx`.

[2019-10-11 19:48] claygoldfinch commented on #439
Have a log? Tried a few recent scenes and it seems to be working for me.

[2019-10-11 19:59] #429 closed

[2019-10-11 20:15] #434 closed

[2019-10-11 20:18] #345 closed

[2019-10-11 20:22] claygoldfinch commented on #406
You still running into issues with this? Just tried out the scene you provided and it pulled the date without any issues.

[2019-10-11 20:26] SgtBatten commented on #440
sorry had to edit your post in order to read the log. use 3 ` at each end for big blocks

Above suggestion works for me. Too many matches for slip and slide

[2019-10-12 04:03] WilliamsVM commented on #438
This is the match result I get when trying to match "Darkx - Getting Over Her Fear of Heights - Piper Perri - 2015-10-23 - 78863"
![XEmpireNotMatching](https://user-images.githubusercontent.com/40531925/66694650-c31f7380-ec83-11e9-9f94-b20304c3810e.PNG)

[2019-10-12 04:07] WilliamsVM commented on #438
I get similar results for all but the most recent scenes. I tried different naming schemes as described in the docs as well and none of them worked. If you have a naming scheme that is functional I'd love to get a sample

[2019-10-12 06:14] claygoldfinch commented on #438
Title Search seems pretty iffy for this scene. Try a mix of Actor Search with Date Match.

`Darkx - 2015.10.23 - Perri Piper`

Date always needs to be before the title/actor.

[2019-10-12 09:15] WilliamsVM commented on #438
Ok I've got myself sorted. I think I've been working on this a bit too much recently and my brain is a bit frazzled after grinding away on matching 3k+ files this week. It works fine when I get the syntax right

[2019-10-12 09:15] #438 closed

[2019-10-12 14:16] tritnaha opened #443 "Fallback to using directory names?"
It seems that many older scene-releases do not contain the site-name in the filename, like 1000Facials.13.01.07.Tanner.Cruz.XXX.1080p.MP4-KTR/ktr.1kf.13.01.07.tanner.cruz.mp4

I can manually match this correctly, but it´d be lovely if the script would fall-back to directory name/s if possible. I´ve seen this "issue" for around 30 or so different sites, regardless of release-group - here´s a small

[2019-10-12 14:32] insickin commented on #440
@claygoldfinch that did the trick! Thanks!

Will do next time, thanks!

[2019-10-12 14:32] #440 closed

[2019-10-12 15:14] insickin commented on #439
I think that my pi-hole (ad blocker) was blocking the image server off Teamskeet, now I have whitelisted it it gets the images!

[2019-10-12 15:17] claygoldfinch commented on #443
The agent actually already has a system in place for resolving this - it'll recognize scene "short names" and swap them for the full site name when searching.

Here's the list of all the short names the agent currently recognizes:
https://github.com/PAhelper/PhoenixAdult.bundle/blob/master/Contents/Code/PAsearchSites.py#L900

If you're experiencing issues with specific scenes feel free to post log

[2019-10-12 15:53] insickin opened #444 "PervMoM dubble site's"
I have problems tagging some of my PervMoM scene's.

The problem is that some of their scene's are not listed on the site that the agent scrapes (www.pervmom.com) for this studio but these scene's are listed at https://mypervmom.com

At www.pervmom.com they list scene's that are stitched together (for example 3 scene's of a actress are stitched to 1 scene) and at https://mypervmom.com they are lis

[2019-10-12 16:10] insickin commented on #406
I checked and now the agent indeed gets the year! Thanks!

[2019-10-12 16:10] #406 closed

[2019-10-12 16:34] claygoldfinch commented on #424
Might be something we can remedy using PAExtras? @SgtBatten

[2019-10-12 16:44] claygoldfinch commented on #411
I agree, I think having someone who can focus on cleaning up open issues would be nice. That said, I'm not quite sure how permissions work for this project. I believe all collaborators that have been added are limited to closing issues and merging pull requests - so it'd be up to @PAHelper to add new collaborators.

If it's possible, perhaps we should start looking into a way to vet new collaborat

[2019-10-12 22:11] SgtBatten commented on #443
Might want to look at the postprocessing script too.

[2019-10-13 21:20] #443 closed

[2019-10-13 22:00] #430 closed

[2019-10-13 22:47] #388 closed

[2019-10-14 10:21] insickin commented on #444
Is this the fix for this problem? https://github.com/PAhelper/PhoenixAdult.bundle/commit/73d94dbb2f0cf9d16a09294e493a8d5b0d14f599

[2019-10-14 11:24] insickin commented on #1
Can https://www.playboyplus.com/ be added?

[2019-10-14 12:38] insickin commented on #1
Can https://www.lilhumpers.com/ be added?

[2019-10-14 14:27] insickin commented on #439
I am back, when tagging: "Dyked - From Now On You Are My Bitch" https://www.teamskeet.com/t1/trailer/view/from_now_on_you_are_my_bitch/alexis_and_elsa?type=low_res&trailer=a
I only get a poster no background.

[2019-10-14 15:25] #418 closed

[2019-10-14 15:27] #263 closed

[2019-10-15 19:34] pedrolara-boop opened #448 "GammaNetwork - Error when using comma on search terms"
Performing a search using a comma in any part of the search terms on GammaNetwork websites results in an error.

`Sweet Sinner` `Different Wives, Different Lives`

The error might not be in the code but on the website itself. You get a "Page Not Found" if you search for something with a comma. So far, I could only find this error for GammaNetwork sites. Tested on Windows and Linux.

It is probably

[2019-10-15 19:37] pedrolara-boop commented on #448
Might be the error that affected #376

[2019-10-15 20:06] pedrolara-boop commented on #376
@insickin Are you still having issues?

[2019-10-16 14:54] insickin commented on #376
Tested it, It seems that the agent finds (and tags) the scene's once more! I thought because it displayed the "SSL: SSLV3_ALERT_HANDSHAKE_FAILURE" error that it wasn't fixable, nice that its working now!

[2019-10-16 14:59] insickin commented on #448
When I see that there are comma's in titles I try to get rid of them (so for example `Sweet Sinner - Different Wives, Different Lives` becomes `Sweet Sinner - Different Wives Different Lives` or `Sweet - 76032`

I had a problem with all title's (not only the title's that contained comma's)

[2019-10-16 15:02] insickin commented on #347
Can you make a pull request from/with your fix to fix this problem?

[2019-10-16 16:27] pedrolara-boop commented on #347
I haven't fixed it. I once I have some free time I will try to make a siteGirlfriends.py and redirect the search to the file for testing.
Someone with more codding experience could probably add directly to the networkGammaEnt.py.

[2019-10-17 22:16] mrwoofa commented on #236
Would people be open to having the API paid? The API is going to use quite a few resources, and I'm not in a position currently to pay for them.

Was thinking of making the API like $2 per month, but allow account sharing.